<p class="center"> <strong>Access Levels</strong> </p>
<p class="justify">
<strong>Ticket</strong>: A user or a group with this level of access can only edit metadata
  of an issue. This includes changing the status of an issue, adding/removing
  tags, adding/removing assignees and every other option which can be accessed
  when you click "Edit Metadata" button in an issue page. However, this user
  can not "create" a new tag or "delete" an existing tag because that requires
  access to the settings page of the project, which this user cannot do.  The
  user also won't be able to "delete" the issue, because that action falls
  outside of "Edit Metadata".
</p>
<p class="justify">
<strong>Collaborator</strong>: A user or a group with this level of access can do everything that
  a user/group with ticket access can do + it can commit to some branches in the project.
  These branches are defined here using their name or a pattern and need to be comma separated. <br />
  Some examples:
    <ul>
        <li>main,features/*</li>
        <li>epel*</li>
        <li>rawhide,f*</li>
    </ul>
</p>
<p class="justify">
<strong>Commit</strong>: A user or a group with this level of access can do everything that
  a user/group with ticket access can do + it can take any action on the project
  that doesn't include access to the settings page. It can "Edit Metadata" of an
  issue just like a user with ticket access, can merge a pull request, can push
  to the main repository directly, delete an issue, cancel a pull request etc.
</p>
<p class="justify">
<strong>Admin</strong>: A user/group with this level of access has access to everything in the project.
  All the "users" of the project that have been added until now have this access.
  They can change the settings of the project and add/remove users/groups on the project.
</p>
