{% macro browse_header(select) -%}

{% if select == 'projects' %}
<div class="row justify-content-around">
  <div class="col-md-8">
      <div class="jumbotron bg-transparent m-0 py-4 text-center">
          <h1 class="display-5">Welcome to Pagure.io</h1>
          <p class="lead">Pagure.io is a Open Source software hosting site.</p>
        </div>
  </div>
</div>
{% endif %}
<ul class="nav nav-tabs nav-small">
  <li class="nav-item">
    <a {% if select == 'projects' %}class="nav-link active" {%
        else %}class="nav-link"{%
        endif %} href="{{ url_for('ui_ns.browse_projects') }}">Projects</a>
  </li>
  <li class="nav-item">
    <a {% if select == 'users' %}class="nav-link active" {%
        else %}class="nav-link"{%
        endif %} href="{{ url_for('ui_ns.view_users') }}">Users</a>
  </li>
  <li class="nav-item">
    <a {% if select == 'groups' %}class="nav-link active" {%
        else %}class="nav-link"{%
        endif %} href="{{ url_for('ui_ns.group_lists') }}">Groups</a>
  </li>
</ul>
{%- endmacro %}

