{% import "theme.html" as theme with context %}

{% macro projectstring(plural=False) %}
    {%- if theme.projectstring is defined -%}
        {{theme.projectstring(plural)}}
    {%- else -%}
        {%- if plural -%}
            Projects
        {%- else -%}
            Project
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro projecticon() %}
    {%- if theme.projecticon is defined -%}
        {{ theme.projecticon }}
    {%- else -%}
        fa-calendar-o fa-rotate-270
    {%- endif -%}
{% endmacro %}
