{% extends "master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}Create group{% endblock %}
{%block tag %}groups{% endblock %}


{% block content %}

<h2>Create group</h2>

<section class="new_group">
    <form action="{{ url_for('.add_group') }}" method="post">

    <table>
      {{ render_field_in_row(form.group) }}
    </table>
    <p class="buttons indent">
      <input type="submit" class="submit positive button" value="Add">
      <input type="button" value="Cancel" class="button"
       onclick="history.back();">
      {{ form.csrf_token }}
    </p>
  </form>
</section>

{% endblock %}
