{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% set tag = "home" %}
{% block title %}Create token{% endblock %}


{% block repo %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          <strong>Create a new token</strong>
        </div>
        <div class="card-block">
          <p>
            From the list below, select one or more actions you want to
            authorize this token for.
          </p>
          <p>
            After that, click 'Create' to generate a token with the selected
            permissions.
          </p>
          <form action="{{
              url_for('.add_token', username=username,
                      repo=repo.name, namespace=repo.namespace)
          }}" method="post">
            {% for acl in acls %}
            <div>
              <label class="c-input c-checkbox">
                <input type="checkbox" name="acls" value="{{ acl.name }}">
                <span class="c-indicator"></span>
                {{ acl.description }}
              </label>
            </div>
            {% endfor %}
          </table>
          <div class="p-t-2">
            <input type="submit" class="btn btn-primary" value="Create">
            <a class="btn btn-secondary" href="{{ url_for('.view_settings',
                username=username, repo=repo.name, namespace=repo.namespace) }}">Cancel</a>
            {{ form.csrf_token }}
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
