{% if not is_js %}
{% extends "repo_master.html" %}
{% endif %}

{% block repo %}
<section class="edit_comment">
  {% if not is_js %}
  <form action="{{ request.base_url }}" method="post">
  {% endif %}

    <div class="tabs ui-widget ui-widget-content ui-corner-all"
        id="comment_block">

      <div id="edit">
        <textarea id="update_comment" name="update_comment" style="width:100%;">
          {{- comment.comment -}}
        </textarea>
      </div>

    <div>

  {{ form.csrf_token }}
    <div>
      <input type="hidden" name="edit_comment" value="{{ comment.id }}" />
      <input type="submit" class="submit positive button" value="Update" />
      <input type="button" class="cancel" value="Cancel" {% if not is_js -%}
        onclick="history.back();"{% endif %} />
    </div>
  {% if not is_js %}
  </form>
  {% endif %}
</section>

{% endblock %}
