{% extends "repo_master.html" %}

{% from "_render_repo.html" import pagination_link %}

{% block title %}{{ select.capitalize() }} - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}

{% block repo %}
  <div class="row m-b-1">
    {% if g.repo_obj and g.repo_obj.is_empty %}
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <p>This repo is brand new!</p>
        <p>There are no commits to this project yet</p>
      </div>
    </div>
    {% else %}
    <div class="col-sm-6">
    <h3>
      Commits <span class="label label-default"> {{number_of_commits}}</span>
    </h3>
    </div>

    <div class="col-sm-6">
      <div class="pull-xs-right">
      <div class="button-label button-label-default">
        {% if repo.is_fork %}
        <span class="oi" data-glyph="fork"></span>
        {{ repo.user.user }}/{{ repo.name }}
        {% else %}
        <span class="oi" data-glyph="document"></span> {{ repo.name }}
        {% endif %}

      </div>
      {% if branchname %}
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="oi" data-glyph="random"> </span> {{ branchname }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            {% for branch in g.branches %}
                <a class="dropdown-item" href="{{ url_for(
                    'ui_ns.view_commits',
                    repo=repo.name,
                    username=username,
                    namespace=repo.namespace,
                    branchname=branch) }}">
                  {{ branch }}
                </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  </div>

    {% if diff_commits|count > 0 and head %}
    <div class="alert alert-info" role="alert">
      This branch contains <a href="#" id="diff_commits_link">
      {{ diff_commits|count }} commits</a> not in
      {% if repo.is_fork %}
        the upstream project
        <span class="pr-toplabel">
          <span class="oi" data-glyph="document"></span>
          {{ repo.name }}
          </span>
      {% else %}
        the main branch
      {% endif %}
      <span class="pr-toplabel">
        <span class="oi" data-glyph="random"> </span>
        {{head}}
      </span>

      {% if diff_commits and g.authenticated and head and
        (repo.is_fork or repo.settings.get('pull_requests', True)) %}
          <div id="request_pull" class="pull-xs-right">
            <a class="btn btn-primary btn-sm"
              href="{{ url_for('ui_ns.new_request_pull',
                    repo=repo.name,
                    username=username,
                    namespace=repo.namespace,
                    branch_to=head, branch_from=branchname or 'master') }}">
              {% if g.repo_committer %}Create pull request{% else %}Compare{% endif %}
            </a>
          </div>
      {% endif %}

      <div id="diff_commits" class="list-group m-t-1" style="display:none;">
        {% for diff_commit_full in diff_commits_full %}
           <a href="{{ url_for('ui_ns.view_commit',
                    repo=repo.name,
                    username=username,
                    namespace=repo.namespace,
                    commitid=diff_commit_full.hex)
              }}" class="list-group-item">
              <h5>
                <strong>{{ diff_commit_full.message.split('\n')[0] }}</strong>
                <div class="pull-xs-right">
                  <span class="commitdate"
                        title="{{ diff_commit_full.commit_time|format_ts }}">
                    {{ diff_commit_full.commit_time|humanize }}
                  </span>
                </div>
              </h5>
              {{ diff_commit_full.author | author2avatar(20) | safe }}
              {{ diff_commit_full.author.name }}
              <div class="pull-xs-right">
                <span class="label label-default">
                  {{ diff_commit_full.hex|short }}
                </span>
              </div>
            </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

      <div class="list-group m-t-1">
        {% for commit in last_commits %}
          <div class="list-group-item{%
                if diff_commits and commit.oid.hex in diff_commits %} p-l-3{%
                endif %}" style="position:relative;">
            {% if diff_commits and commit.oid.hex in diff_commits %}
              <div title="This commit is not in the main branch of this Repo"
                  style="position:absolute; left:0; top:0; padding:5px;
                         padding-top:20px; height:100%; background:#eee;
                         vertical-align:middle;">
                <span class="oi" data-glyph="arrow-thick-right"></span>
              </div>
            {% endif %}
            <h5>
              <a href="{{ url_for('ui_ns.view_commit',
                    repo=repo.name,
                    username=username,
                    namespace=repo.namespace,
                    commitid=commit.hex, branch=branchname) }}"
                  class="notblue">
                <strong>{{ commit.message.split('\n')[0] }}</strong>
                <div class="pull-xs-right">
                  <span class="commitdate"
                        title="{{ commit.commit_time|format_ts }}">
                    {{ commit.commit_time|humanize }}
                  </span>
                </div>
              </a>
            </h5>
              {{commit.author|author2user_commits(
                link=url_for('ui_ns.view_commits',
                    repo=repo.name,
                    branchname=branchname,
                    username=username,
                    namespace=repo.namespace,
                    author=commit.author.email),
                cssclass="notblue")|safe}}
            <div class="pull-xs-right" >
              <span class="label label-default commithash" id="c_{{ commit.hex }}">
                {{ commit.hex|short }}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>

      {{ pagination_link('page', g.page, total_page) }}

    {% endif %}
    </div>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
  $(function(){
    $('#diff_commits_link').click(function(){
      $('#diff_commits').toggle();
    });

    {# Show branch labels in commit list #}
    $.ajax({
        url: '{{ url_for("internal_ns.get_branches_head") }}' ,
        type: 'POST',
        data: {
          repo: "{{ repo.name }}",
          repouser: "{{ repo.user.user if repo.is_fork else '' }}",
          namespace: "{{ repo.namespace if repo.namespace else '' }}",
          csrf_token: "{{ form.csrf_token.current_token }}",
        },
        dataType: 'json',
        success: function(res) {
          for (var _c in res.heads) {
            for (var i=0; i < res.heads[_c].length; i++){
              var _url = '{{ url_for('ui_ns.view_commits',
                repo=repo.name,
                branchname='---',
                username=username,
                namespace=repo.namespace) }}';
              var _b = res.heads[_c][i];
              var html = '<a href="' + _url.replace('---', _b) + '">'
                +'<span class="label label-info"'
                +'title="Head of branch(es): ' + _b + '">'
                + '<span class="oi" data-glyph="fork"></span> '
                + _b + '</span></a> ';
              var el = $('#c_' + _c);
              el.parent().before(html);
            }
          }
        },
    });

    {# Show tags in commit list #}
    $.ajax({
        url: '{{ url_for("api_ns.api_git_tags",
                repo=repo.name,
                username=repo.user.user if repo.is_fork else none,
                namespace=repo.namespace) }}' + '?with_commits=1' ,
        type: 'GET',
        dataType: 'json',
        success: function(res) {
          for (var _t in res.tags) {
            var _c = res.tags[_t];
            var html = '<span class="label label-success" '
              +'title="Tag: ' + _t + '">'
              + '<span class="oi" data-glyph="tag"></span> '
              + _t + '</span> ';
            var el = $('#c_' + _c);
            el.parent().before(html);
          }
        },
    });

    var statusesLabels = {{ flag_statuses_labels|safe }}

    {# Show tags in commit list #}
    $(".commithash").each(function(idx, item) {
      var url = '{{ url_for("api_ns.api_commit_flags",
                    repo=repo.name,
                    username=repo.user.user if repo.is_fork else none,
                    namespace=repo.namespace,
                    commit_hash='COMMIT_HASH') }}'
      url = url.replace("COMMIT_HASH", item.id.substring(2))
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function(res) {
          var statuses = {}
          for (var i in res['flags']) {
            var f = res['flags'][i]
            if (!(f['status'] in statuses)) {
              statuses[f['status']] = []
            }
            statuses[f['status']].push(f)
          }
          var html = '<span>'
          var sortedStatuses = Object.keys(statuses).sort()
          for (var i in sortedStatuses) {
            s = sortedStatuses[i]
            numStatuses = statuses[s].length
            html += '<span title="' + numStatuses + ' ' + s
            html += ' flag' + (numStatuses > 1 ? 's' : '')
            html += '" class="label ' + statusesLabels[s] + '">'
            html += statuses[s].length + '</span>\n'
          }
          html += '</span>\n'
          $(html).insertBefore(item)
        }
      });
    });
  });
</script>
{% endblock %}
