{% extends "repo_master.html" %}

{% block repo %}
<section class="edit_comment">
  <form action="{{ request.base_url }}" method="post">

    <div class="tabs ui-widget ui-widget-content ui-corner-all"
        id="comment_block">

      <div id="edit">
        <textarea id="update_comment" name="update_comment">{{ comment.comment }}</textarea>
      </div>

    <div>

  {{ form.csrf_token }}
    <div>
      <input type="submit" class="submit positive button" value="Update">
      <input type="button" class="cancel" value="Cancel" onclick="history.back();"/>
    </div>
  </form>
</section>
{% endblock %}
