{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}Edit tag: {{ tag }} - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<h2>Edit tag: {{ edit_tag }}</h2>

<section class="edit_tag">
    <form action="{{ url_for('.edit_tag', namespace=repo.namespace,
                     username=username, repo=repo.name, tag=edit_tag) }}" method="post">

    <p>Enter in the field below the new name for the tag: "{{ edit_tag }}"</p>
    <table>
      {{ render_field_in_row(form.tag) }}
    </table>
    <p class="buttons indent">
      <input type="submit" class="submit positive button" value="Edit">
      <input type="button" value="Cancel" class="button" onclick="history.back();">
      {{ form.csrf_token }}
    </p>
  </form>
</section>

{% endblock %}
