{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% set tag = "groups" %}
{% block title %}Edit group: {{ group.group_name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Edit group: {{ group.group_name }}</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('ui_ns.edit_group', group=group.group_name)
              }}" method="post">
              <table>
                {{ render_bootstrap_field(
                    form.display_name,
                    field_description="Name of the group that will be displayed in the UI") }}
                {{ render_bootstrap_field(
                    form.description,
                    field_description="Short description of the group") }}
              </table>
            <p class="buttons indent">
              <input type="button" value="Cancel" class="btn btn-secondary" onclick="history.back();">
              <input type="submit" class="btn btn-primary" value="Edit">
              {{ form.csrf_token }}
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
