{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}Edit tag: {{ tag }} - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<section class="edit_tag">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          <strong>Edit tag: {{ edit_tag }}</strong>
        </div>
        <form action="{{ url_for(
              '.edit_tag',
              tag=edit_tag,
              repo=repo.name,
              username=username,
              namespace=repo.namespace) }}"
            method="post" class="icon">
            {{ form.csrf_token }}
          <div class="row p-t-1">
          <div class="col-sm-6 p-r-0">
            <input type="text" name=tag
              value={{ edit_tag }} size="3" class="form-control"/>
          </div>
          <div class="col-sm-2 p-r-0">
            <select id="tag_color" name="tag_color" style="background-color:{{tag_color}}; width: 80px;" class="c-select"
              onChange="this.style.backgroundColor=this.options[this.selectedIndex].style.backgroundColor">
              {% for color_opt in color_list %}
                <option value={{ color_opt }} style="background-color:{{color_opt}}" {% if tag_color == color_opt %}selected{% endif %}></option>
              {% endfor %}
            </select>
          </div>
        </div>
          <p class="buttons indent">
            <input type="submit" class="submit positive button" value="Update Tag">
            <input type="button" value="Cancel" class="button" onclick="history.back();">
            {{ form.csrf_token }}
          </p>
        </form>
      </div>
    </div>
</section>
{% endblock %}
