{% extends "repo_master.html" %}

{% block title %}Forks - {{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<h2>Forks <span class="label label-default">{{repo.forks | count}}</span></h2>

<section class="forks_list">
  {% if repo.forks %}
  <div class="list-group">
    {% for fork in repo.forks %}
      <a class="list-group-item" href="{{ url_for('view_repo', username=fork.user.user,
                  repo=fork.name) }}">
        <h5>
          <strong>{{ fork.user.user }}/{{ fork.name }}</strong>
          <div class="pull-xs-right">
            <span class="commitdate" data-toggle="tooltip" title="{{ fork.date_created.strftime('%Y-%m-%d %H:%M') }}">
              Forked {{ fork.date_created|humanize }}
            </span>
          </div>
        </h5>
      </a>

    {% endfor %}
  </div>
  {% else %}
  <p>
    This project has not been forked.
  </p>
  {% endif %}
</section>

{% endblock %}
