{% extends "master.html" %}

{% block title %}Group {{ group.name }}{% endblock %}
{%block tag %}groups{% endblock %}


{% block header %}
<link rel="stylesheet" type="text/css" media="screen"
    href="{{ url_for('static', filename='toggle.css') }}"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>Group: {{ group.group_name }}</h2>


<table>
  <tr>
    <th>Created</th>
    <td title="{{ group.created.strftime('%b %d %Y %H:%M:%S') }}">
        {{ group.created |humanize }}
    </td>
  </tr>
  <tr>
    <th>By</th>
    <td>
      <a href="{{ url_for('view_user', username=group.creator.user)}}">
        {{ group.creator.user | avatar(24) | safe }}
        {{ group.creator.fullname }} ({{ group.creator.user }})
      </a>
    </td>
  </tr>
</table>

<h3>Members</h3>

{% if authenticated and group.group_name in g.fas_user.groups %}
<section class="add_users">
  <h4>Add an user to this group</h4>
  <form action="{{ url_for('.view_group', group=group.group_name)
    }}" method="post">
    <input id="user" name="user" title="User name"/>
    {{ form.csrf_token }}
  <input type="submit" class="submit positive button" value="Add">
  </form>
</section>
{% endif %}

<section class="user_list">
  <ul>
    {% for user in group.users %}
    <li>
      <a href="{{ url_for('view_user', username=user.user)}}">
        {{ user.user | avatar(32) | safe }}
        {{ user.fullname }} ({{ user.user }})
      </a>
      {% if user != group.creator %}
       <form class="icon" method="POST" style="display: inline-block"
        action="{{ url_for('admin_group_user_delete',
            group=group.group_name, user=user.user) }}">
        {{ form.csrf_token }}
        <button
          onclick="return confirm('Are you sure to remove user `{{
            user.user}}` from the group `{{group.group_name}}`?');"
          title="Remove user from group">
          <span class="icon icon-trash blue"></span>
        </button>
      </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
