{% extends "master.html" %}

{% block title %}Home{% endblock %}
{% set tag = "projects" %}
{% from "_browseheader.html" import browse_header %}


{% block header %}
  <link rel="stylesheet" type="text/css" media="screen"
      href="{{ url_for('static', filename='toggle.css') }}"/>
{% endblock %}


{% from "_render_repo.html" import render_repos_as_card %}

{% block content %}
<div class="p-t-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            My Projects <span class="label label-default">{{repos | count}}</span>
          </div>
          {% if repos %}
            <div class="list-group list-group-flush">
            {% for repo in repos %}
              <div class="list-group-item">
                {% if repo.is_fork %}
                  {% set url = url_for('view_repo', username=repo.user.username, repo=repo.name) %}
                {% else %}
                  {% set url = url_for('view_repo', repo=repo.name) %}
                {% endif %}
                <a href="{{ url }}">
                  <span class="oi text-muted" data-glyph="document"></span>
                  <strong>{{ repo.name }}</strong>
                </a>
                  <div class="pull-xs-right">
                    {% if repo.open_tickets_public == 0 %}
                      <span class="text-muted">
                        <span class="oi" data-glyph="warning"
                          title="{{ repo.open_tickets_public }} open issues against {{repo.name}}"></span>
                        {{ repo.open_tickets_public }}
                      </span>
                    {% else %}
                      <a class="notblue" data-toggle="tooltip"
                        href="{{ url_for('.view_issues', repo=repo.name) }}"
                        title="{{ repo.open_tickets_public }} open issues against {{repo.name}}">
                        <span class="oi" data-glyph="warning"></span>{{ repo.open_tickets_public }}
                      </a>
                    {% endif %}

                    {% if repo.open_requests == 0 %}
                      <span class="text-muted">
                        <span class="oi" data-glyph="arrow-thick-bottom"
                          title="{{repo.open_requests}} open pull requests in {{repo.name}}"></span>
                        {{repo.open_requests}}
                      </span>
                    {% else %}
                      <a class="notblue" data-toggle="tooltip"
                        href="{{ url_for('.request_pulls', repo=repo.name) }}"
                        title="{{repo.open_requests}} open pull requests in {{repo.name}}">
                        <span class="oi" data-glyph="arrow-thick-bottom"></span>{{repo.open_requests}}
                      </a>
                    {% endif %}

                  </div>
              </div>
            {% endfor %}
            </div>
        {% else %}
          <div class="card-block">
            <p>You have no projects</p>
          </div>
        {% endif %}
        </div>
        {{ render_repos_as_card(forks, forks_length,'Forks', 'forkpage', forkpage, total_page_forks) }}
      </div>
      <div class="col-md-4">
        <div class="card" id="group_list">
            <div class="card-header">
                My Groups <span class="label label-default">{{ user.groups | length }}</span>
            </div>
            {% for group in user.groups %}
              <div class="list-group">
                <a class="list-group-item" href="{{ url_for(
                    'view_group', group=group)}}">
                  <div class=""><strong><span class="oi" data-glyph="people">
                    </span> &nbsp;{{ group }}</strong>
                  </div>
                </a>
              </div>
            {% else %}
            <p>No group found</p>
            {% endfor %}
        </div>
      </div>
    </div>
    {% if config.get('DATAGREPPER_URL') %}
    <section class="project_list" id="user_graph">
        <header>
            <h2>Contributions</h2>
        </header>
        <a href="{{config.get('DATAGREPPER_URL')}}/raw?category={{config.get('DATAGREPPER_CATEGORY', 'pagure')}}&user={{username}}" target="_blank">
          <img src="{{config.get('DATAGREPPER_URL')}}/charts/line?category={{config.get('DATAGREPPER_CATEGORY', 'pagure')}}&user={{username}}&split_on=users&delta=31536000&N=12&title=&width=600&height=200&style=light&fill=True" alt="User activity graph"/>
        </a>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block jscripts %}
    {{ super() }}
    <script type="text/javascript">
      $(function(){
        $('.show_parts input[type="checkbox"]').change(function(){
          $('#' + $(this).attr('name')).toggle();
        });
      });
    </script>
{% endblock %}
