<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %} - Pagure</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('static', filename='favicon.ico')}}"/>
    <link type="text/css" rel="stylesheet" href="https://ryanlerch.fedorapeople.org/fedora-bootstrap/fedora-bootstrap.min.css" />
    {% block header %}{% endblock %}
  </head>
  <body id="{{ tag }}">
	<div class="masthead">
	        <div class="container"><img src="{{ url_for('static', filename='pagure-logo.png') }}"
            alt="pagure Logo" id="kojiLogo"/></div>
        </div>
        <nav class="navbar navbar-light navbar-underline p-t-0 p-b-0 m-b-lg">
          <div class="container-narrow">
            <ul class="nav navbar-nav nav-justified nav-underline">
              <li class="nav-item {% if tag == 'home'%}active{% endif %}"><a class="nav-link" href="{{url_for('index')}}">Home</a></li>
              <li class="nav-item {% if tag == 'users'%}active{% endif %}"><a class="nav-link" href="{{ url_for('view_users') }}">Users</a></li>
              <li class="nav-item {% if tag == 'groups'%}active{% endif %}"><a class="nav-link" href="{{ url_for('group_lists') }}">Groups</a></li>
              {% if admin %}
              <li class="nav-item {% if tag == 'admin'%}active{% endif %}"><a class="nav-link" href="{{ url_for('admin_index') }}">Admin</a></li>
              {% endif %}
              {% if config.get('ENABLE_NEW_PROJECTS', True) %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('new_project') }}">New Project</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
    <div id="wrap">
      <div id="innerwrap">

        <!-- HEADER -->
        <div id="header">

          <form action="{{url_for('search')}}" id="headerSearch">
            <select name="type">
              <option value="projects"
                {% if select=='projects' %} selected {% endif %}>
                  Projects</option>
              <option value="projects_forks"
                {% if select=='projects_forks' %} selected {% endif %}>
                  Projects &amp; Forks</option>
              <option value="user"
                {% if select=='users' %} selected {% endif %}>
                  Users</option>
            </select>
            <input type="text" name="term"
                title="Search field, use * to broaden your search" />
            <input type="submit" value="Search"/>
          </form>
        </div><!-- end header -->


        {% if not nologin %}
        <span id="loginInfo">
          {% if g.fas_user %}
            <span class="text">logged in as </span>
            <a href="{{ url_for('user_settings') }}">
                {{ g.fas_user.username }}</a> |
            <a href="{{ url_for('auth_logout') }}?next={{request.url}}">log out</a>
          {% else %}
        <a href="{{ url_for('auth_login') }}?next={{request.url}}">login</a>
          {% endif %}
        </span>
        {% endif %}

        <div id="content">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                <ul id="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}

        </div>

        <p id="footer">
          Copyright &copy; 2014-2015 Red Hat
          <a href="https://pagure.io/pagure">pagure</a> --
          {{version}}
        </p>

      </div>
    </div>

    {% block jscripts %}
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-1.10.2.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-ui-1.11.2.custom.min.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='sorttable.js') }}">
    </script>
    {% endblock %}

{% if config['FEDMENU_URL'] %}
<script src="{{ config['FEDMENU_URL'] }}/js/fedmenu.js"></script>
<script src="{{ config['FEDMENU_URL'] }}/js/fedora-libravatar.js"></script>
<script>
  fedmenu({
    'url': '{{ config["FEDMENU_DATA_URL"] }}',
    'mimeType': 'application/javascript',
    'position': 'bottom-right',
    {% if user -%}
    'user': '{{ user.username }}',
    {%- endif %}
  });
</script>
{% endif %}

</body>
</html>
