<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %} - Pagure</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('static', filename='favicon.ico')}}"/>
    <link type="text/css" rel="stylesheet" href="https://ryanlerch.fedorapeople.org/fedora-bootstrap/fedora-bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='koji.css') }}" />
    <link href="https://cdn.jsdelivr.net/open-iconic/1.1.0/font/css/open-iconic.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,700italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css">
    {% block header %}{% endblock %}
  </head>
  <body id="{{ tag }}">
  <!-- start masthead -->
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img height=40px src="{{ url_for('static', filename='pagure-logo.png') }}" alt="pagure Logo" id="kojiLogo"/>
          </div>
          <div class="col-sm-9">
            <div class="row">
		          <div class="col-sm-12 text-right">
			          <form action="{{url_for('search')}}" id="headerSearch" class="form-inline">
			            <div class="btn-group">
                    <select name="type" class="selectpicker" data-style="btn-secondary btn-sm" data-width="auto">
                      <option value="projects"{% if select=='projects' %} selected {% endif %}>Projects</option>
                        <option value="projects_forks"{% if select=='projects_forks' %} selected {% endif %}>Projects &amp; Forks</option>
                        <option value="user"{% if select=='users' %} selected {% endif %}>Users</option>
                      </select>
			              <input type="text" name="term" class="form-control form-control-sm" title="Search field, use * to broaden your search" />
		              </div>
                  <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
                </form>
		          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- close masthead-->

  <nav class="navbar navbar-light navbar-underline p-t-0 p-b-0">
	  <div class="container">
	    <ul class="nav navbar-nav nav-underline">
	      <li class="nav-item p-l p-r {% if tag == 'home'%}active{% endif %}"><a class="nav-link" href="{{url_for('index')}}">Projects</a></li>
	      <li class="nav-item p-l p-r {% if tag == 'users'%}active{% endif %}"><a class="nav-link" href="{{ url_for('view_users') }}">Users</a></li>
	      <li class="nav-item p-l p-r {% if tag == 'groups'%}active{% endif %}"><a class="nav-link" href="{{ url_for('group_lists') }}">Groups</a></li>
	      {% if admin %}
	      <li class="nav-item p-l p-r {% if tag == 'admin'%}active{% endif %}"><a class="nav-link" href="{{ url_for('admin_index') }}">Admin</a></li>
	      {% endif %}
	    </ul>
	    <ul class="nav navbar-nav nav-underline" style="float:right;">
	      {% if config.get('ENABLE_NEW_PROJECTS', True) %}
	      <li class="nav-item p-l"><a class="nav-link" href="{{ url_for('new_project') }}"><span class="oi" data-glyph="plus" title="Create New" aria-hidden="true"></span>
</a></li>
	      {% endif %}
	      {% if not nologin %}
		{% if g.fas_user %}
			<li class="nav-item dropdown p-l">
			  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ g.fas_user.username | avatar(24) | safe }}</a>
		      <div class="dropdown-menu dropdown-menu-right">
		        <a class="dropdown-item" href="{{ url_for('view_user', username=g.fas_user.username) }}">My Public Profile</a>
                <a class="dropdown-item" href="{{ url_for('user_settings') }}">My Settings</a>
		        <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('auth_logout') }}?next={{request.url}}">Log Out</a>
              </div>
			</li>
			 <!--<a href="{{ url_for('user_settings') }}">{{ g.fas_user.username }}</a>
			 <a href="{{ url_for('auth_logout') }}?next={{request.url}}">log out</a> -->
		{% else %}
		       <li class="nav-item p-l"><a class="nav-link" href="{{ url_for('auth_login') }}?next={{request.url}}"><span class="oi" data-glyph="account-login" title="Log In" aria-hidden="true"></a></li>
		{% endif %}
              {% endif %}
	    </ul>
	  </div>
	</nav>
    <div class="bodycontent p-b-lg">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                <ul id="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
    </div>

    <div class="footer p-t p-b">
        <div class="container">
            <p class="text-muted credit">
         Copyright &copy; 2014-2015 Red Hat
          <a href="https://pagure.io/pagure">pagure</a> --
          {{version}}
            </p>
            <p><a href="{{ url_for('ssh_hostkey') }}">SSH Hostkey/Fingerprint</a></p>
        </div>
    </div>

    {% block jscripts %}
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-1.10.2.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-ui-1.11.2.custom.min.js') }}">
    </script>
    <script type="text/javascript"
        src="https://ryanlerch.fedorapeople.org/fedora-bootstrap/fedora-bootstrap.js">
    </script>
    {% endblock %}

{% if config['FEDMENU_URL'] %}
<script src="{{ config['FEDMENU_URL'] }}/js/fedmenu.js"></script>
<script src="{{ config['FEDMENU_URL'] }}/js/fedora-libravatar.js"></script>
<script>
  fedmenu({
    'url': '{{ config["FEDMENU_DATA_URL"] }}',
    'mimeType': 'application/javascript',
    'position': 'bottom-right',
    {% if user -%}
    'user': '{{ user.username }}',
    {%- endif %}
  });
</script>
{% endif %}

</body>
</html>
