{% extends "repo_master.html" %}

{% block title %}New release - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<h2>Upload a new release</h2>

<p>
  You can upload your tarball to pagure. This tarball can be as big as
  {{ config['MAX_CONTENT_LENGTH'] / 1024 /1024 }}MB.
</p>

<form action="{{ url_for('ui_ns.new_release',
    namespace=repo.namespace, username=username, repo=repo.name) }}"
    method="post" enctype="multipart/form-data">
{{ form.csrf_token }}
<input id="file-picker" type="file" name="filestream" multiple>

<div>
  <input type="submit" class="submit positive button" value="Upload">
</div>
</form>

<p>
  After the upload the source will be available in the
  <a href="{{ config['UPLOAD_FOLDER_URL'] + repo.fullname }}">
    release folder
  </a>.
</p>

{% endblock %}
