{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}New project{% endblock %}
{% set tag = "new_project" %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Create new Project</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('.new_project') }}" method="post">
            {{ render_bootstrap_field(form.name, field_description="the name of your project") }}
            {{ render_bootstrap_field(form.description, field_description="short description of the project") }}
            {{ render_bootstrap_field(form.namespace, field_description="namespace of the project") }}
            {{ render_bootstrap_field(form.url, field_description="url of the project's website") }}
            {{ render_bootstrap_field(form.avatar_email, field_description="libravatar email address avatar email") }}
            {{ render_bootstrap_field(form.create_readme, field_description="Create a README file automatically") }}
            <input class="btn btn-primary" type="submit" value="Create" title="Update description">
            <input type="button" class="btn btn-default pull-md-right"
              value="Cancel" onclick="history.back();">
            {{ form.csrf_token }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
