{% extends "master.html" %}

{% block title %}Page not found :'({% endblock %}
{% set tag = "error" %}


{% block content %}
<div class="container p-t-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Page not found (404)</h2>
      {% if error and error.description %}
      <p>With the message:</p>
      <div class="card-block">
      <p>{{ error.description }}</p>
      </div>
      {% else %}
      <p>The requested page cannot be found, we're sorry :(</p>
      {% endif %}
      <p>You have either entered a bad URL or the page has moved, removed, or otherwise rendered unavailable.<br/>
      Please use the main navigation menu to get (re)started.</p>
    </div>
  </div>
</div>
{% endblock %}
