{% from "_formhelper.html" import render_field_in_row %}

{% if full %}
{% extends "repo_master.html" %}

{% block title %}{{ select.capitalize() }} {{ plugin.name }} - {{ repo.name }}{% endblock %}
{% set tag = "home" %}
{% endif %}


{% block repo %}

  <form action="{{ url_for('.view_plugin',
                  username=username, repo=repo.name, plugin=plugin.name,
                  ) }}" method="post">
  <table>
    {% for field in fields %}
      {{ render_field_in_row(field) }}
    {% endfor %}
  </table>
  <p class="buttons indent">
      <input type="submit" class="submit positive button" value="Update">
      <input type="button" value="Cancel" class="button" onclick="history.back();">
      {{ form.csrf_token }}
    </p>
  </form>

{% endblock %}
