{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Edit PR#{{ request.id }}: {{ request.title }} - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}

{% block header %}
<link href="{{ url_for('static', filename='vendor/emojione/emojione.sprites.css') }}"
  rel="stylesheet" />
  <link href="{{ url_for('static', filename='vendor/selectize/selectize.bootstrap3.css') }}"
  rel="stylesheet" />
{% endblock %}

{% block repo %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        Edit PR#{{ request.id }}: {{ request.title }} - {{ repo.name }}
      </div>
      <div class="card-block" class="edit_tag">
        <form action="{{ url_for('ui_ns.request_pull_edit',
            repo=repo.name,
            username=username,
            namespace=repo.namespace,
            requestid=request.id) }}" method="post">

          <table>
            {{ render_bootstrap_field(
                form.title,
                field_description="the new title of your pull-request") }}
            {{ render_bootstrap_field(
                form.initial_comment,
                field_description="description of your pull-request") }}
          </table>
          <p class="buttons indent">
            <input type="submit" class="btn btn-primary" value="Edit">
            {{ form.csrf_token }}
            <a href="{{ url_for('ui_ns.request_pull',
              repo=repo.name,
              username=username,
              namespace=repo.namespace,
              requestid=request.id)}}">
              <input type="button" class="btn btn-secondary" value="Cancel" />
            </a>
            {{ form.csrf_token }}
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
