<div class="btn-group qr float-right" data-toggle="tooltip" data-placement="bottom" title="Quick Replies">
  <button type="button" class="btn btn-outline-secondary border-0 dropdown-toggle qr-btn" data-toggle="dropdown">
    <span class="fa fa-list-ul"></span> <span class="caret"></span>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {% for reply in repo.quick_replies %}
    <a href="#" class="qr-reply dropdown-item" data-qr="{{reply}}">
      {{reply|wraps(50)}}
    </a></li>
    {% endfor %}
  </div>
</div>
