{% extends "repo_master.html" %}

{% block title %}Releases - {{
    repo.namespace + '/' if repo.namespace }}{{ repo.name }}{% endblock %}
{% set tag = "home" %}

{% block repo %}

<h2>
  Releases
{% if config.get('UPLOAD_FOLDER_PATH') and config.get('UPLOAD_FOLDER_URL') %}
  {% if g.repo_admin %}
    <a class="pull-xs-right" href="{{ url_for('ui_ns.new_release',
            repo=repo.name,
            username=username,
            namespace=repo.namespace) }}"
        method="get" class="icon">
    <button class="btn btn-primary" type="submit" title="Upload a tarball">
      <span class="icon icon-plus blue"></span>
      Upload a new release
    </button>
    </a>
  {% endif %}
{% endif %}
</h2>

{% if config.get('UPLOAD_FOLDER_PATH') and config.get('UPLOAD_FOLDER_URL') %}
<p>
  If the developers have upload one or more tarball(s), you will be able to
  find them in the <a href="{{ config['UPLOAD_FOLDER_URL'] + repo.fullname }}">
    release folder.
  </a>
</p>
{% if pagure_checksum %}
<p>
  The <a href="{{ config['UPLOAD_FOLDER_URL'] + repo.fullname }}/CHECKSUMS">CHECKSUMS</a>
  file contains the checksums (sha256 and sha512) of the files uploaded to
  pagure.
</p>
<p>
  To use this file, simply download it next to the tarball you downloaded and
  run <pre>sha512sum -c CHECKSUMS</pre>
</p>
{% endif %}
{% endif %}

<section class="tag_list">
  {% if tags %}
  <div class="list-group">
    {% for tag in tags %}
      <a class="list-group-item" href="{{ url_for('ui_ns.view_tree',
            repo=repo.name,
            username=username,
            namespace=repo.namespace,
            identifier=tag['object'].oid) }}">
        <div class="pull-xs-right">{{tag['date'] | humanize}}
          <span id="tagid" class="badge badge-secondary">
            {{ tag['object'].oid | short }}
          </span>
        </div>
        {% if tag['objecttype'] == "tag" and tag['object'].message.strip() %}
            <strong>{{tag['tagname']}}</strong>
            {{ tag['head_msg'] }}
            {% if tag['body_msg'] %}
            <div style="white-space:pre-wrap">
              {{ tag['body_msg'] }}
            </div>
            {% endif %}
        {% else %}
            <strong>{{tag['tagname']}}</strong>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% else %}
  <p>
    This project has not been tagged.
  </p>
  {% endif %}
</section>

{% endblock %}
