{% extends "repo_master.html" %}

{% block title %}{{ select.capitalize() }} - {{ repo.name }}{% endblock %}
{% set tag = "home" %}

{% block header %}
<link href="{{ url_for('static', filename='fontawesome/font-awesome.min.css') }}"
  rel="stylesheet" />
{% endblock %}

{% block repo %}
<div class="row">
  {% if origin == 'view_repo' or origin == 'view_repo_branch' %}
    <div class="col-md-8">
      {% if readme %}
        <section class="readme">
          {% if safe %}
            {{ readme | noJS |safe }}
          {% else %}
            {{ readme | noJS }}
          {% endif %}
        </section>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Admins
        </div>
        <div class="card-block p-a-0">
          <ul>
            <li>
              <a href="{{ url_for('view_user', username=repo.user.user)}}">
                {{ repo.user.user | avatar(32) | safe }}
                {{ repo.user.fullname }} ({{ repo.user.user }})  -  creator
              </a>
            </li>
            {% for user in repo.users %}
            <li>
              <a href="{{ url_for('view_user', username=user.user)}}">
                {{ user.user | avatar(32) | safe }}
                {{ user.fullname }} ({{ user.user }})
              </a>
            </li>
            {% endfor %}
            {% for group in repo.groups %}
            <li>
              <a href="{{ url_for('view_group', group=group.group_name)}}">
                @{{ group.group_name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Recent Commits
        </div>
        <div class="card-block p-a-0">
        {% for commit in last_commits %}
        <li>
          {{ commit.author | author2avatar(20) | safe }}
          <a href="{{ url_for('view_commit', username=username,
                  repo=repo.name, commitid=commit.hex) }}">
              <span class="commitid">{{ commit.hex|short }}</span>
              {% if diff_commits and commit.oid.hex in diff_commits %}
              <span class="new_commit" title="Commit not in the main repo">*</span>
              {% endif %}
              {{ commit.message.split('\n')[0] }}
              <span class="commitdate" title="{{ commit.commit_time|format_ts }}">
                {{ commit.commit_time|humanize }}
              </span>
          </a>
        </li>
        {% endfor %}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Branches
        </div>
        <div class="card-block p-a-0">
          {% for branch in branches %}
          <li>
            <a href="{{ url_for('view_repo_branch',
                        username=username, repo=repo.name, branchname=branch) }}">
              {{ branch }}
            </a>
            (<a href="{{ url_for('view_commits', username=username,
                       repo=repo.name, branchname=branch) }}">commits</a>)

          </li>
          {% endfor %}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Branches
        </div>
        <div class="card-block p-a-0">
          <table>
            <tr>
              <th>Git URLs</th>
              <td><a id="more_gits">more</a> | </td>
              <td>
                <a href="{{ url_for('ssh_hostkey') }}">
                  SSH Hostkey/Fingerprint
                </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Project</td>
              <td>:</td>
              <td>
                {{ config.get('GIT_URL_SSH') }}{% if repo.parent %}forks/{% endif %}{{ repo.fullname }}.git
              </td>
              <td>
                {{ config.get('GIT_URL_GIT') }}{% if repo.parent %}forks/{% endif %}{{ repo.fullname }}.git
              </td>
            </tr>
            {% if config['DOC_APP_URL'] and repo and repo.settings.get('project_documentation', True) %}
            <tr class="extra_gits">
              <td>Docs</td>
              <td>:</td>
              <td>
                {{ config.get('GIT_URL_SSH') }}docs/{{ repo.fullname }}.git
              </td>
              <td>
                {{ config.get('GIT_URL_GIT') }}docs/{{ repo.fullname }}.git
              </td>
            </tr>
            {% endif %}
            {% if config.get('ENABLE_TICKETS', True) %}
            <tr class="extra_gits">
              <td>Tickets</td>
              <td>:</td>
              <td>
                {{ config.get('GIT_URL_SSH') }}tickets/{{ repo.fullname }}.git
              </td>
              <td>
                {{ config.get('GIT_URL_GIT') }}tickets/{{ repo.fullname }}.git
              </td>
            </tr>
            {% endif %}
            <tr class="extra_gits">
              <td>Requests</td>
              <td>:</td>
              <td>
                {{ config.get('GIT_URL_SSH') }}requests/{{ repo.fullname }}.git
              </td>
              <td>
                {{ config.get('GIT_URL_GIT') }}requests/{{ repo.fullname }}.git
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  {% endif %}
</div>


{% if repo_obj and repo_obj.is_empty %}

  <section class="repo_info">
    <p>This repo is brand new!</p>

    <p>If you already have a git repo:</p>
    <pre>
      git remote add origin {{ config.get('GIT_URL_SSH') }}{% if repo.parent %}forks/{% endif %}{{ repo.fullname }}.git
      git push -u origin master
    </pre>

    <p>If you have not created your git repo yet:</p>
    <pre>
      git clone {{ config.get('GIT_URL_SSH') }}{% if repo.parent %}forks/{% endif %}{{ repo.fullname }}.git
      cd {{ repo.name }}
      touch README.rst
      git add README.rst
      git commit -m "Add README file"
      git push -u origin master
    </pre>


    <p>
        Note, you may want to checkout out the
        <a href="{{ url_for('ssh_hostkey') }}">SSH Hostkey/Fingerprint</a>
        information page
    </p>
    </section>

{% else %}

  {% if total_page %}

  <nav>
    <ul class="pagination">
      <li {% if page <= 1%} class="disabled" {% endif %}>
        <a href="{{ url_for('.%s' % origin, username=username,
                    repo=repo.name, branchname=branchname, page=page-1) }}" aria-label="Previous">
          <span aria-hidden="true">Newer</span>
          <span class="sr-only">Newer</span>
        </a>
      </li>
      <li class="active"><a href="#">page {{ page }} of {{total_page}}</a></li>
      <li {% if page >= total_page %}class="disabled"{%endif%}>
        <a href="{{ url_for('.%s' % origin, username=username,repo=repo.name, branchname=branchname, page=page+1) }}" aria-label="Next">
          <span aria-hidden="true">Older</span>
          <span class="sr-only">Older</span>
        </a>
      </li>
    </ul>
  </nav>
  <table>
    <tr>
      <td>
      {% if page > 1%}
          <a href="{{ url_for('.%s' % origin, username=username,
                    repo=repo.name, branchname=branchname, page=page-1) }}">
            &lt; Previous
        </a>
      {% else %}
          &lt; Previous
      {% endif %}
      </td>
      <td>{{ page }} / {{ total_page }}</td>
      <td>
        {% if page < total_page %}
        <a href="{{ url_for('.%s' % origin, username=username,
                    repo=repo.name, branchname=branchname, page=page+1) }}">
            Next &gt;
        </a>
        {% else %}
        Next >
        {% endif %}
      </td>
    </tr>
  </table>
  {% endif %}
    {% if origin == 'view_commits' %}
      <div class="list-group">
        {% for commit in last_commits %}
          <a href="{{ url_for('view_commit', username=username,
                          repo=repo.name, commitid=commit.hex) }}" class="list-group-item">
                      <h5><strong>{{ commit.message.split('\n')[0] }}</strong></h5>
                  {{ commit.author | author2avatar(20) | safe }} {{ commit.author.name }}
                      <span class="commitid">{{ commit.hex|short }}</span>
                      {% if diff_commits and commit.oid.hex in diff_commits %}
                      <span class="new_commit" title="Commit not in the main repo">*</span>
                      {% endif %}
                      <span class="commitdate" title="{{ commit.commit_time|format_ts }}">
                        {{ commit.commit_time|humanize }}
                      </span>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  <section class="git_links">

  </section>
{% endif %}

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    $(".extra_gits").hide();
});
$(function() {
    $( "#more_gits" ).click(
      function() {
        var _xgits = $(".extra_gits");
        _xgits.toggle();
        console.log(_xgits[0]);
        console.log(_xgits.is(':visible'));
        if (_xgits.is(':visible')) {
            $( "#more_gits" ).html('less');
        } else {
            $( "#more_gits" ).html('more');
        }
      }
    );
});
</script>
{% endblock %}
