{% extends "repo_master.html" %}

{% block title %}Pull requests - {{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<div class="inline">
  <h2>
    {% if status|lower != 'open' and status|lower != 'false' %}
    {{ status }} {% elif status|lower != 'open' -%}
    Closed/Merged {% endif -%}
    Pull-requests ({{ requests|count }})
  </h2>
  {% if status|lower == 'open' %}
    <a href="{{ url_for('request_pulls', username=username,
               repo=repo.name) }}?status=0">
      ({{ oth_requests }} Closed)</a>
  {% else %}
    <a href="{{ url_for('request_pulls', username=username,
                 repo=repo.name) }}">
      ({{ oth_requests }} Open)</a>
  {% endif %}

  <aside id="issue_action">
      <a class="btn_reset" href="{{ url_for('request_pulls', username=username,
                 repo=repo.name) }}">
        <button>Reset all filters</button>
      </a>
    </aside>
</div>

<table class="list requests">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th class="open_by">
              Opened by (<a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, assignee=assignee, status=status) }}">reset</a>)
            </th>
            <th class="open_date">Opened on</th>
            <th class="assigned">
              Assigned to (<a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, author=author, status=status) }}">reset</a>)
            </th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for request in requests %}
        <tr>
            <td>#{{ request.id }}</td>
            <td>
              <a href="{{ url_for('request_pull', username=username,
                  repo=repo.name, requestid=request.id) }}">
                {{ request.title | noJS("img") | safe }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('request_pulls', username=username,
                  repo=repo.name, author=request.user.user,
                  assignee=assignee, status=status) }}"
                  title="Filter requests by reporter">
                {{ request.user.user | avatar(16) | safe }}
                {{ request.user.user }}
              </a>
            </td>
            <td>
                {{ request.date_created.strftime('%Y-%m-%d %H:%M') }}
            </td>
            <td>
              {% if request.assignee %}
              <a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, assignee=request.assignee.username,
                author=author, status=status) }}"
                title="Filter issues by assignee">
                {{ request.assignee.user | avatar(16) | safe }}
                {{ request.assignee.user }}
              </a>
              {% else %}
              <a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, author=author, status=status) }}">(unassigned)</a>
              {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="noresult">No pull-request found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

