{% extends "repo_master.html" %}

{% block title %}Pull requests - {{ repo.name }}{% endblock %}
{% set tag = "home" %}


{% block repo %}

<div>
  <h2 class="p-b-1">
    {% if status|lower != 'open' and status|lower != 'false' %}
    {{ status }} {% elif status|lower != 'open' -%}
    Closed/Merged {% endif -%}
    Pull Requests <span class="label label-default">{{ requests|count }}</span>
  </h2>

<div>
  <span class="btn-group btn-group-sm issues-tagbar" role="group" aria-label="Basic example">
      <a class="btn {% if status|lower == 'open' %}btn-primary{%else%}btn-secondary{%endif%} btn-sm" href="{{ url_for('request_pulls', username=username,
                 repo=repo.name) }}">Open</a>
      <a class="btn {% if status|lower == 'open' %}btn-secondary{%else%}btn-primary{%endif%} btn-sm" href="{{ url_for('request_pulls', username=username,
               repo=repo.name) }}?status=0">Closed</a>
  </span>
  <a class="btn btn-secondary btn-sm pull-xs-right" href="{{ url_for('request_pulls',
  username=username, repo=repo.name) }}">Reset Filters</a>
</div>
</div>
<div class="card m-t-1">
<table id="pagure-issues-list" class="table table-hover table-striped m-b-0">
    <thead class="thead-default">
        <tr>
            <th class="stretch-table-column">Pull Request</th>
            <th class="open_date nowrap">Opened</th>
            <th class="open_by">
              Reporter(<a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, assignee=assignee, status=status) }}">reset</a>)
            </th>
            <th class="assigned">
              Assignee(<a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, author=author, status=status) }}">reset</a>)
            </th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for request in requests %}
        <tr>
            <td>
              <a href="{{ url_for('request_pull', username=username,
                  repo=repo.name, requestid=request.id) }}">
                <span class="label label-default">PR#{{ request.id }}</span> {% if status|lower != 'open' %}<span class="label {% if request.status|lower == 'merged' %}label-success{%elif request.status|lower == 'closed'%}label-danger{%endif%}">{{request.status}}</span>{%endif%} {{ request.title | noJS("img") | safe }}
              </a>
            </td>
            <td class="nowrap">
                    <span title="{{request.date_created.strftime('%Y-%m-%d %H:%M:%S')}}">{{
                        request.date_created | humanize}}</span>
            </td>
            <td class="nowrap">
              <a href="{{ url_for('request_pulls', username=username,
                  repo=repo.name, author=request.user.user,
                  assignee=assignee, status=status) }}"
                  title="Filter requests by reporter">
                {{ request.user.default_email | avatar(16) | safe }}
                {{ request.user.user }}
              </a>
            </td>
            <td class="nowrap">
              {% if request.assignee %}
              <a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, assignee=request.assignee.username,
                author=author, status=status) }}"
                title="Filter issues by assignee">
                {{ request.assignee.default_email | avatar(16) | safe }}
                {{ request.assignee.user }}
              </a>
              {% else %}
              <a href="{{ url_for('request_pulls', username=username,
                repo=repo.name, author=author, status=status) }}">(unassigned)</a>
              {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="noresult">No Pull Requests found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}



{% block jscripts %}
{{ super() }}
{% if authenticated and repo_admin %}
<script type="text/javascript">

$(function() {
  $.ajax({
    url: '{{ url_for("internal_ns.get_pull_request_ready_branch") }}' ,
    type: 'POST',
    data: {
      repo: "{{ repo.name }}",
      repouser: "{{ repo.user.user if repo.is_fork else '' }}",
      csrf_token: "{{ form.csrf_token.current_token }}",
    },
    dataType: 'json',
    success: function(res) {
      if (res.code == 'OK'){
        for (branch in res.message){
          html = '<div class="alert alert-info" role="alert"> \
                The branch ' + branch +' contains ' + res.message[branch].length
                +  ' commits not in the main branch \
                <span class="pr-toplabel"> \
                <span class="oi" data-glyph="random"> </span> \
                {{ head }}</span> \
                <div id="request_pull" class="pull-xs-right"> \
                <a class="btn btn-primary btn-sm" href="/test/diff/'
                + '{{ head }}..' + branch + '"> Request pull </a> \
                </div></div>';
          $($('.bodycontent').find('.card').children()[0]).before(html)
        }
      }
    }
  });
});
{% endif %}
</script>
{% endblock %}
