<h3 class="font-weight-bold mb-3">
  repoSpanner status
</h3>
<div class="row">
  <div class="col">
    <p>
      <a href="https://repospanner.org">repoSpanner</a> is
      a distributed git storage server allowing to keep in sync multiple git
      repositories in multiple locations.
    </p>
    <p>
    {% if repo.is_on_repospanner %}
      This repository is on repoSpanner region {{ repo.repospanner_region }}
    {% else %}
      This repository is NOT yet on repoSpanner
      {% if pagure_admin and config.get('REPOSPANNER_ADMIN_MIGRATION') %}
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <form action="{{ url_for(
        'ui_ns.move_to_repospanner',
        repo=repo.name,
        username=username,
        namespace=repo.namespace) }}"
      method="post" class="icon">
      {{ tag_form.csrf_token }}
      Select region to move to:
      <select class="form-control" name="region" id="region"
              style="margin-bottom:1%" >
        {% for region in config.get('REPOSPANNER_REGIONS') %}
          <option value="{{region}}">{{ region }}</option>
        {% endfor %}
      </select>
      <button class="btn" type="submit"
              title="Move to repoSpanner">
        <i class="fa fa-share-square-o"></i>&nbsp; Move the {{repo.name}} project to repoSpanner
      </button>
    </form>
      {% endif %}
    {% endif %}
  </div>
</div>
