{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}{{ select.capitalize() }} - {{ repo.name }}{% endblock %}
{% set tag = "home" %}

{% block header %}
<link href="{{ url_for('static', filename='fontawesome/font-awesome.min.css') }}"
  rel="stylesheet" />
{% endblock %}

{% block repo %}

<section class="settings">
  <h3>Settings for {{repo.name}} {{branchname}}</h3>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          Project Details
        </div>
        <div class="card-block">
          <form action="{{ url_for('.update_project',
                          username=username, repo=repo.name) }}" method="post">
            <fieldset class="form-group">
              <label for="description">Description</label>
              <input class="form-control" name="description" value="{{ repo.description }}" required/>
              <small class="text-muted">Short description of the project</small>
            </fieldset>
            <fieldset class="form-group">
                <label for="url">Project's url</label>
                <input class="form-control" name="url" value="{{ repo.url if repo.url else '' }}" />
                <small class="text-muted">Website URL of the project</small>
            </fieldset>
            <fieldset class="form-group">
              <label for="avatar">Avatar email</label>
              <input class="form-control" name="avatar_email" value="{{ repo.avatar_email if repo.avatar_email else '' }}" />
              <small class="text-muted">Email address linked to avatar to display for the project</small>
            </fieldset>
            <fieldset class="form-group">
              <label for="tags">Project tags</label>
              <input class="form-control" name="tags" value="{{ repo.tags_text |join(', ') if repo.tags else '' }}" />
              <small class="text-muted">tags for project</small>
            </fieldset>
            <button class="btn btn-primary" type="submit" title="Update description">
              Update
            </button>
            {{ form.csrf_token }}
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          Default Branch
        </div>
        <div class="card-block">
          <form action="{{ url_for('change_ref_head',
                 username=username, repo=repo.name) }}" method="post">
            {{ branches_form.csrf_token }}
            {{ branches_form.branches(class_="c-select") }}
            <input class="btn btn-primary" type="submit" value="Make Default"/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          <strong>Private web-hook key</strong>
        </div>
        <div class="card-block">
          <p>
            Each message sent to the web-hook are signed via hmac and SHA1 using
            this private key.
          </p>
          <p>
            This key is private to your project, make sure to store in a safe place
            and do not share it.
          </p>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="oi" data-glyph="key"></span></div>
              <input class="form-control" type="text" value="{{ repo.hook_token }}" readonly>
            </div>
          </div>

          <form action="{{ url_for('.new_repo_hook_token',
                        username=username, repo=repo.name) }}"
              method="post" class="icon">
          <button class="btn btn-primary" type="submit"
            onclick="return confirm('Are you sure to generate a new token for '
              + 'this project/fork? \nThis will break all web hook in place and '
              + 'cannot be un-done.');"
            title="Generate a new hook token">
            <span class="oi" data-glyph="reload"></span> &nbsp;Re-generate
          </button>
          {{ form.csrf_token }}
        </form>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          <strong>API Keys</strong>
        </div>
        <div class="card-block">
          <p>
            API keys are tokens used to authenticate you on pagure. They can also
            be used to grant access to 3rd party application to behave on this
            project on your name.
          </p>
          <p>
            These keys are valid for <span class="strong">60</span> days.
          </p>
          <p>
            These keys are private to your project, make sure to store in a safe
            place and do not share it.
          </p>
        </div>
        {% if repo.tokens %}
        <ul class="list-group list-group-flush">
        {% for token in repo.tokens %}
          {% if token.user.username == g.fas_user.username %}
            <li class="list-group-item">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="oi" data-glyph="key"></span></div>
                  <input class="form-control" type="text" value="{{ token.id }}" readonly>
                </div>
              </div>
            {% if token.expired %}
              <span class="text-danger"><strong>Expired</strong> since {{ token.expiration.date() }}</span>
            {% else %}
              <span class="text-success"><strong>Valid</strong> until: {{ token.expiration.date() }}</span>
              <form class="pull-right" action="{{ url_for('.revoke_api_token',
                    username=username, repo=repo.name, token_id=token.id) }}"
                method="post" class="icon">
                <button class="btn btn-danger" type="submit"
                    onclick="return confirm('Are you sure to revoke this token ?'
                        + '\nThis will break all application using it and '
                        + 'cannot be un-done.');"
                    title="Revoke token">
                  <span class="oi" data-glyph="trash"></span> &nbsp;Revoke
                </button>
                {{ form.csrf_token }}
              </form>
            {% endif %}
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#acls{{ token.id }}">
                ACLs
              </button>
              <div class="modal fade" id="acls{{ token.id }}" tabindex="-1" role="dialog" aria-labelledby="ACLs" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">ACLs</h4>
                    </div>
                    <div class="modal-body">
                      {{ token.acls_list |safe }}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
        <div class="card-block">
          <a href="{{ url_for('.add_token', username=username, repo=repo.name) }}"
              method="post" class="icon">
          <button class="btn btn-primary" type="submit"
            title="Generate a new API token">
            Create new key
          </button>
          </a>
        </div>

      </div>
    </div>

  </div>


  <div>
    <h3>API key</h3>
  </div>


  <h3>Project's options</h3>
  <form action="{{ url_for('.view_settings',
                  username=username, repo=repo.name) }}" method="post">
  <table>
    {% for key in repo.settings | sort %}
    {% if not config.get('ENABLE_TICKETS', True) and key in ['issue_tracker'] %}
    {% elif not config.get('DOC_APP_URL') and key in ['project_documentation'] %}
    {% elif not config.get('WEBHOOK') and key in ['Web-hooks'] %}
    {% else %}
    <tr>
      <td><label for="{{ key }}">Activate {{ key | replace('_', ' ') }}</label></td>
      <td>
        {% if repo.settings[key] in [True, False, 'y'] %}
        <input id="{{ key }}" type="checkbox" value="y" name="{{ key }}" {%
         if repo.settings[key] -%}checked=""{%- endif -%}/>
        {% else %}
        <input id="{{ key }}" type="text" {% if repo.settings[key]
            %}value="{{ repo.settings[key] }}"{% endif %} name="{{ key }}" />
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  <p class="buttons indent">
      <input type="submit" class="submit positive button" value="Update">
      <input type="button" value="Cancel" class="button" onclick="history.back();">
      {{ form.csrf_token }}
    </p>
  </form>

  <h3>Re-generate git repos</h3>
  <form action="{{ url_for('.regenerate_git',
                  username=username, repo=repo.name) }}" method="post"
        class="icon">
    <input name="regenerate" value="tickets" type="hidden"/>
    <button class="" type="submit"
      title="Regenerate tickets git repo">
      <span class="icon icon-refresh blue"></span>
      Regenerate the git repo for issues
    </button>
    {{ form.csrf_token }}
  </form>
  <form action="{{ url_for('.regenerate_git',
                  username=username, repo=repo.name) }}" method="post"
        class="icon">
    <input name="regenerate" value="requests" type="hidden"/>
    <button class="icon_button" type="submit"
      title="Regenerate requests git repo">
      <span class="icon icon-refresh blue"></span>
      Regenerate the git repo for requests
    </button>
    {{ form.csrf_token }}
  </form>
</section>

{% if config.get('ENABLE_USER_MNGT', True) %}
<section class="users">
  <h2>Users and Groups</h2>

  <p>Here below is the list of user having commit rights to this repo.</p>

  <p>
    <a href="{{ url_for('.add_user', username=username, repo=repo.name) }}"
        class="icon icon-plus-sign blue">
        [add]
    </a>

    <a href="{{ url_for('.add_group_project', username=username, repo=repo.name) }}"
        class="icon icon-plus-sign blue">
        [add group]
    </a>
  </p>

  <ul>
    <li>
      <a href="{{ url_for('.view_user', username=repo.user.user) }}">{{ repo.user.user }}</a>
      (owner)
    </li>
  {% for user in repo.users %}
    <li>
      <a href="{{ url_for('.view_user', username=user.user) }}">{{ user.user }}</a>
      <form class="icon del_icon" method="POST"
        action="{{ url_for('.remove_user', username=username, repo=repo.name, userid=user.id) }}">
        <button
          onclick="return confirm('You sure you want to remove this user from this project?');"
          title="Remove user">
          <span class="icon icon-trash blue"></span>
        </button>
        {{ form.csrf_token }}
      </form>
    </li>
  {% endfor %}
  {% for group in repo.groups %}
    <li>
      <a href="{{ url_for('.view_group', group=group.group_name) }}">@{{ group.group_name }}</a>
      <form class="icon del_icon" method="POST"
        action="">
        <button
          onclick="return confirm('You sure you want to remove this group from this project?');"
          title="Remove group">
          <span class="icon icon-trash blue"></span>
        </button>
        {{ form.csrf_token }}
      </form>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}


{% if plugins %}
<section class="hooks">
  <h2>Hooks</h2>
  <div id="accordion">
    {% for plugin in plugins %}
      <h3 class="plugin_title" data-plugin="{{ plugin }}">{{ plugin }}</h3>
      <div id="body_{{ plugin }}"></div>
    {% endfor %}
  </div>
</section>
{% endif %}


{% if config.get('ENABLE_TICKETS', True) %}
<section class="tags">
  <h2>Tags</h2>

  <p>
    Here below is the list of tags associated with one or more issue of
    the project.
  </p>

  <ul>
  {% for tag in tags %}
    <li>
      <a href="{{ url_for('view_issues', username=username,
        repo=repo.name, tags=tag.tag) }}">
        {{ tag.tag }}
      </a>
      <form class="icon del_icon" method="POST"
        action="{{ url_for('remove_tag', username=username, repo=repo.name) }}">
        <input type="hidden" value="{{ tag.tag }}" name="tag" />
        {{ tag_form.csrf_token }}
        <button
          onclick="return confirm('Do you really want to remove the tag: {{ tag.tag }}?');"
          title="Remove tag">
          <span class="icon icon-trash blue"></span>
        </button>
      </form>
      <a href="{{ url_for(
            '.edit_tag',username=username, repo=repo.name, tag=tag.tag) }}">
        <button class="icon_button" title="Edit tag">
          <span class="icon icon-edit blue"></span>
        </button>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if config.get('ENABLE_DEL_PROJECTS', True) %}
<section class="delete">
  <form action="{{ url_for('.delete_repo',
                  username=username, repo=repo.name) }}"
        method="post" class="icon">
    <button class="icon_button" type="submit"
      onclick="return confirm('Are you sure to delete this project/fork? \nThis is final and cannot be un-done.');"
      title="Delete the project/fork">
      <h3>
        <span class="icon icon-trash blue"></span>
        Delete project
      </h3>
    </button>
  </form>
</section>
{% endif %}

{% endblock %}

{% block jscripts %}
{{ super() }}
<script>
  function show_acls(acls) {
    var _txt = '<div title="ACLs details" id="show_meeting">'
      + '<ul>';

    for (i = 0; i < acls.length; i++) {
        _txt += '<li>' + acls[i] + '</li>';
    }

    _txt += '</ul>' + '</div>';
    var _elt = $(_txt);
    var _height = $(window).height() * 0.8;
    _elt.dialog({
        height: 250,
        width: 250,
        modal: true,
        cache: false,
    });
    }

  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content',
      activate: function( event, ui ) {
        var _plugin = ui.newHeader.attr('data-plugin');
        if (!_plugin) {
          return false;
        }
        var _url = "{{ url_for('.view_plugin', repo=repo.name, username=username, plugin='') }}";
        _url += _plugin + '/0';
        console.log(_url);
        $.ajax({
            url: _url ,
            type: 'GET',
            dataType: 'html',
            success: function(res) {
                ui.newPanel.html(res);
            },
        });
        return false;

      }
    });
  });
</script>
{% endblock %}
