{% extends "master.html" %}

{% block title %}Unauthorized :'({% endblock %}
{% set tag = "error" %}


{% block content %}
<div class="container p-t-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Unauthorized (401)</h2>
      <p>You are not authorized to display the requested page.</p>
      {% if error.description %}
      <div class="card-block">
      <p>{{ error.description }}</p>
      </div>
      {% endif %}
      <p>If you're not logged in, try to log in; if you've already done so,
      that probably means you do not have sufficient access.</p>
    </div>
  </div>
</div>
{% endblock %}
