{% extends "master.html" %}
{% block title %}Users{% endblock %}
{% set tag = "users" %}
{% from "_browseheader.html" import browse_header %}

{% block header %}
<link href="{{ url_for('static', filename='selectize.bootstrap3.css') }}"
  rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="repo-header p-t-1">
  <div class="container">
        {{browse_header(select=select)}}
</div>
</div>
  <div class="container">
{% if total_page and total_page > 1 %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('view_users') }}?page={{page - 1}}">
                &lt; Previous
            </a>
        {% else %}
            &lt; Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('view_users') }}?page={{page + 1}}">
                Next &gt;
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<p>{{ users_length }} users registered.</p>

<section class="user_list">
  <ul>
    {% for user in users %}
    <li>
      <a href="{{ url_for('view_user', username=user.user)}}">
        {{ user.user | avatar(32) | safe }}
        {{ user.fullname }} ({{ user.user }})
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
</div>

{% endblock %}

{% block jscripts %}
    {{ super() }}
<script src="{{ url_for('static', filename='selectize.min.js') }}" type="text/javascript"> </script>
<script type="text/javascript">
$(document).ready(function() {
            $('#term').selectize({
                valueField: 'user',
                labelField: 'user',
                searchField: 'user',
                onType: function(value){
                  if (value == ""){
                  this.close();
                  }
                },
                onChange: function(value){
                  if (value != ""){
                    $('#headerSearch').submit();
                  }
                },
                maxItems: 1,
                create: false,
                load: function(query, callback) {
                    if (!query.length) return callback();
                    $.getJSON(
                      "{{ url_for('api_ns.api_users') }}", {
                        pattern: query
                      },
                      function( data ) {
                        callback( data.users.map(function(x) { return { user: x }; }) );
                      }
                    );
                }
            });
});
</script>
{% endblock %}
