{% extends "master.html" %}

{% block title %}Issues opened by {{ username }}{% endblock %}


{% block content %}
<div class="p-t-2">
  <div class="container">
    <h3 class="p-b-2">
        Issues opened by {{ username | avatar(20) | safe }} {{ username }}
    </h3>
    <div>
      <span class="btn-group btn-group-sm issues-tagbar" role="group">
          <a data-togglebutton="issue-status-open" id="toggle-open" class="btn btn-primary btn-sm" href="#">Open</a>
          <a data-togglebutton="issue-status-closed" id="toggle-closed" class="btn btn-secondary btn-sm" href="#">Closed</a>
          <a data-togglebutton="issue-status-all" class="btn btn-secondary btn-sm" href="#">All</a>
      </span>
    </div>
    <table class="table table-hover table-striped m-b-0 m-t-1">
        <thead class="thead-default">
            <tr>
                <th class="nowrap">#</th>
                <th>Status</th>
                <th>Title</th>
                <th class="open_date nowrap">Opened</th>
                <th class="nowrap">Project</th>
                <th class="assigned nowrap">Assigned to</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for issue in user.issues %}
            <tr class="issue-status issue-status-{{issue.status|lower}}"
              {%- if issue.status|lower != "open" %} style="display:none;"{% endif %}>
                <td class="nowrap"><span class="label label-default">#{{ issue.id }}</span></td>
                <td><span class="label {%
                    if issue.status|lower == 'closed' %}label-danger{%
                    elif issue.status|lower == 'open'%}label-primary{%
                    else %}label-default{%
                    endif%}">{{issue.status}}</span></td>
                <td class="stretch-table-column">
                  <a href="{{ url_for(
                      'view_issue',
                      repo=issue.project.name,
                      username=issue.project.user.username if issue.project.is_fork else None,
                      namespace=issue.project.namespace,
                      issueid=issue.id) }}">
                    {% if issue.private %}
                        Private Issue
                    {% else %}
                        {{ issue.title | noJS("img") | safe }}
                    {% endif %}
                  </a>
                </td>
                <td class="nowrap">
                    <span title="{{issue.date_created.strftime('%Y-%m-%d %H:%M:%S')}}">{{
                        issue.date_created | humanize}}</span>
                </td>
                <td class="nowrap">
                  <a href="{{ url_for(
                    'view_repo',
                    repo=issue.project.name,
                    username=issue.project.user.username if issue.project.is_fork else None,
                    namespace=issue.project.namespace) }}">
                    {{ issue.project.user.username + '/' if issue.project.is_fork }}
                    {{ issue.project.namespace + '/' if issue.project.namespace }}
                    {{ issue.project.name }}
                  </a>
                </td>
                <td class="nowrap">
                  {% if issue.assignee %}
                  {{ issue.assignee.default_email | avatar(16) | safe }}
                  {{ issue.assignee.user }}
                  {% else %}
                  <span class="text-muted">unassigned</span>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="noresult">No issues found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block jscripts %}
    {{ super() }}
    <script type="text/javascript">
      $(function(){
        $('.issues-tagbar .btn').click(function(){
          $('.issues-tagbar .btn-primary').addClass("btn-secondary");
          $('.issues-tagbar .btn-primary').removeClass("btn-primary");
          $(this).removeClass("btn-secondary");
          $(this).addClass("btn-primary");
          if ($(this).attr("data-togglebutton") == "issue-status-all"){
            $(".issue-status").show();
          } else {
            $(".issue-status").hide();
            $("."+$(this).attr("data-togglebutton")).show();
          }
        });
      });
    </script>
{% endblock %}
