{% extends "userprofile_master.html" %}

{% block title %}{{user.username}} - overview{% endblock %}

{% from "_render_repo.html" import pagination_link %}
{% from "userprofile_macros.html" import render_repo_listing %}
{% from "_projectstring.html" import projectstring, projecticon %}



{% block userprofile_content %}
<div class="row mt-4">
    <div class="col-12">
        <div class="d-flex align-items-center mb-3">
          <h4 class="font-weight-bold mb-0">Forks</h4>
          <span class="btn btn-outline-secondary disabled opacity-100 border-0 ml-auto font-weight-bold">{{ forks_length }} {{projectstring(plural=True)}}</span>
        </div>
          {% if forks %}
            {{ render_repo_listing(forks)}}
            {% if total_page_forks and total_page_forks > 1 %}
            {{ pagination_link('forkpage', forkpage, total_page_forks) }}
            {% endif %}
        {% else %}
          <div class="alert alert-secondary text-center">
            <p>No forks</p>
          </div>
        {% endif %}
    </div>
</div>
{% endblock %}
