{% extends "master.html" %}

{% block title %}{{ username }}'s starred Projects{% endblock %}

{% block content %}
<div class="p-t-2">
  <div class="container">
    <h3 class="p-b-2">
      {{ repos | length }} Projects Starred by {{ username }}
    </h3>

    <div class="card">
      <div class="card-header">
        <p>Starred Projects</p>
      </div>
      <div class="card-block p-a-0">
        <div class="list-group">
          {% for repo in repos %}
            <a class="list-group-item" href="{{ url_for(
                'ui_ns.view_repo',
                repo=repo.name,
                username=repo.user.user if repo.is_fork else None,
                namespace=repo.namespace,
                )}}">
                {% if repo.avatar_email %}
                <img src="{{ repo.avatar_email | avatar_url | safe }}" width=20 height=20 />
                {% else %}
                <span class="oi" data-glyph="document"></span>
                {% endif %}
                {{repo.fullname}}
                <div class="pull-xs-right">
                  {{ repo.description or '' }}
                </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
