{% extends "master.html" %}

{% block title %}User {{username}}{% endblock %}
{%block tag %}users{% endblock %}


{% block header %}
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='toggle.css') }}"/>
{% endblock %}


{% from "render_repo.html" import render_repos %}
{% from "render_repo.html" import repos_switch %}


{% block content %}
    <h2>
        {{ username | avatar(36) | safe }} {{ username }}
        {% if g.fas_user and g.fas_user.username == username %}
            <a class="user_settings" href="{{ url_for('user_settings') }}" title="Update your settings">Settings</a>
        {% endif %}

    </h2>
    {{ repos_switch(False) }}
    <p title="{{ user.created.strftime('%Y-%m-%d') }}">
      Joined {{ user.created | humanize }}
    </p>

    {{ render_repos(
            repos, total_page_repos, repopage,
            'Projects', repos_length, 'repos') }}
    {{ render_repos(
            forks, total_page_forks, forkpage,
            'Forks', forks_length, 'forks') }}
{% endblock %}

{% block jscripts %}
    {{ super() }}
    <script type="text/javascript">
      $(function(){
        $('.show_parts input[type="checkbox"]').change(function(){
          $('#' + $(this).attr('name')).toggle();
        });
      });
    </script>
{% endblock %}
