{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Add email{% endblock %}
{% set tag = "home" %}


{% block content %}
<div class="container p-t-3">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
      <strong>Add new email</strong>
      </div>
      <div class="card-block">
        <form action="{{ url_for('ui_ns.add_user_email') }}" method="post">
            {{ render_bootstrap_field(form.email) }}
            <input type="submit" class="btn btn-primary" value="Add">
            <input type="button" value="Cancel" class="btn btn-secondary cancel_btn">
            {{ form.csrf_token }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
