{% extends "master.html" %}

{% block title %}Waiting{% endblock %}

{% block header %}
  <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Waiting</strong>
        </div>
        <div class="card-block">
          <p>
            We are waiting for your task to finish.
            This page should be refreshed automatically, but if not click
            <a href="{{ url_for('wait_task', taskid=taskid) }}">Here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
