{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Login{% endblock %}
{% set tag = "home" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Login</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('ui_ns.do_login') }}" method="post">
            <input type="hidden" value="{{ next_url }}" name="next_url" />
            {{ render_bootstrap_field(form.username) }}
            {{ render_bootstrap_field(form.password) }}
            <input class="btn btn-primary" type="submit" value="Login">
            <input type="button" value="Cancel" class="btn btn-default" onclick="history.back();">
            {{ form.csrf_token }}
          </form>
        </div>
        <div class="card-block">
          <p>
            If you do not have already an account: <a href="{{
                url_for('ui_ns.new_user') }}">
            Create one!</a>
          </p>
          <p>
          <a href="{{ url_for('ui_ns.lost_password') }}">
            Forgot your password?</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
