{% extends "master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}Change password{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<h2>Change password</h2>

<form action="{{ url_for('change_password', username=g.fas_user.username) }}" method="POST">
  <table>
    {{ render_field_in_row(form.old_password) }}
    {{ render_field_in_row(form.password) }}
    {{ render_field_in_row(form.confirm_password) }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Update">
    <a href="{{ url_for('index') }}">
      <input type="button" value="Cancel" class="button">
    </a>
    {{ form.csrf_token }}
  </p>
</form>

{% endblock %}
