{% extends "master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}Lost password{% endblock %}
{% set tag = "home" %}

{% block content %}
<h2>Lost password?</h2>

<form action="{{ url_for('lost_password') }}" method="POST">
  <table>
    {{ render_field_in_row(form.username) }}
  </table>
  <p class="buttons indent">
    <input type="submit" class="submit positive button" value="Send email">
    <a href="{{ url_for('index') }}">
      <input type="button" value="Cancel" class="button">
    </a>
    {{ form.csrf_token }}
  </p>
</form>

{% endblock %}
