{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Lost password{% endblock %}
{% set tag = "home" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto pt-5">
      <h4 class="text-center font-weight-bold mb-4">Reset Password</h4>
      <form action="{{ url_for('ui_ns.lost_password') }}" method="post">
        {{ render_bootstrap_field(form.username) }}
        <input class="btn btn-primary btn-block mt-4" type="submit" value="Send reset email">
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</div>

{% endblock %}
