{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Change password{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Change password</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('ui_ns.change_password')}}" method="post">
            {{ render_bootstrap_field(form.old_password) }}
            {{ render_bootstrap_field(form.password) }}
            {{ render_bootstrap_field(form.confirm_password) }}
            {{ form.csrf_token }}
            <input class="btn btn-primary" type="submit" value="Update"
              title="Update description">
            <input type="button" value="Cancel" class="btn btn-default"
              onclick="history.back();">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
