{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}Change password{% endblock %}
{% set tag = "home" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Change password</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('ui_ns.reset_password', token=token)
                }}" method="post">
            {{ render_bootstrap_field(form.password) }}
            {{ render_bootstrap_field(form.confirm_password) }}
            <input class="btn btn-primary" type="submit" value="Update">
            <input type="button" value="Cancel" class="btn btn-default" onclick="history.back();">
            {{ form.csrf_token }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
