{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}New user{% endblock %}
{% set tag = "home" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card m-t-3">
        <div class="card-header">
          <strong>Create new User</strong>
        </div>
        <div class="card-block">
          <form action="{{ url_for('ui_ns.new_user') }}" method="post">
            {{ render_bootstrap_field(
                form.user, field_description="username of the user") }}
            {{ render_bootstrap_field(
                form.fullname, field_description="full name of the user") }}
            {{ render_bootstrap_field(
                form.email_address, field_description="email address of the user") }}
            {{ render_bootstrap_field(
                form.password, field_description="password of the user") }}
            {{ render_bootstrap_field(
                form.confirm_password, field_description="confirm the password") }}
            <input class="btn btn-primary" type="submit" value="Create" title="Update description">
            <input type="button" value="Cancel" class="btn btn-default" onclick="history.back();">
            {{ form.csrf_token }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
