{% extends "master.html" %}
{% from "_formhelper.html" import render_bootstrap_field %}

{% block title %}New user{% endblock %}
{% set tag = "home" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto pt-5">
      <h4 class="text-center font-weight-bold mb-4">Create new account</h4>
      <form action="{{ url_for('ui_ns.new_user') }}" method="post">
        {{ render_bootstrap_field(
            form.user) }}
        {{ render_bootstrap_field(
            form.fullname) }}
        {{ render_bootstrap_field(
            form.email_address) }}
        {{ render_bootstrap_field(
            form.password) }}
        {{ render_bootstrap_field(
            form.confirm_password) }}
        <input class="btn btn-primary btn-block mt-4" type="submit" value="Create" title="Update description">
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
