include LICENSE README.rst requirements.txt UPGRADING.rst
include createdb.py
recursive-include alembic *
recursive-include doc *
recursive-include files *
recursive-include pagure *
recursive-include pagure-ev *
recursive-include pagure-milters *
recursive-include tests *

recursive-exclude alembic *.pyc
recursive-exclude doc *.pyc
recursive-exclude files *.pyc
recursive-exclude pagure *.pyc
recursive-exclude pagure-ev *.pyc
recursive-exclude pagure-milters *.pyc
recursive-exclude tests *.pyc
