python3-alembic
python3-arrow
python3-binaryornot
python3-bleach
python3-blinker
python3-chardet
python3-cryptography
python3-docutils
python3-fedora-flask
python3-flask
python3-flask-wtf
python3-bcrypt
python3-jinja2
python3-markdown
python3-munch
python3-openid-cla
python3-openid-teams
python3-psutil
python3-pygit2
python3-redis
python3-sqlalchemy
python3-straight-plugin
python3-wtforms
