bcrypt <= 3.2.2
beautifulsoup4 <= 4.11.1
black <= 22.8.0
cryptography <= 36.0.0
eventlet <= 0.33.2
fedmsg <= 1.1.2
flake8 <= 4.0.1

# Important: Until https://github.com/puiterwijk/flask-oidc/pull/144 is merged and a new version of flask-oidc is released,
# it's necessary to ensure `itsdangerous` is pinned to a version lower as 2.1 as well.
flask-oidc <= 1.4.0
itsdangerous < 2.1          

mock <= 4.0.3
pagure-messages >= 0.0.1
pytest <= 6.2.5
pytest-cov <= 4.0.0
pytest-xdist <= 2.5.0

python-fedora == 1.1.1
trololio == 1.0

# Seems that mock doesn't list this one
funcsigs <= 1.0.2
