bcrypt
beautifulsoup4
black
cryptography
eventlet
fedmsg
flake8
flask-oidc
mock
pagure-messages >= 0.0.1
pytest
pytest-cov
pytest-xdist
python-fedora
trololio

# Seems that mock doesn't list this one
funcsigs
