# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
arrow
bcrypt
binaryornot
bleach
blinker
celery
chardet<4.0
cryptography
docutils
enum34;python_version<"3.4"
# this is only needed with wtforms on py3
email_validator;python_version>="3.0"
flask
flask-wtf
kitchen
markdown
munch
Pillow
psutil
pygit2 >= 0.26.0
python-openid;python_version<="2.7"
python3-openid;python_version>="3.0"
python-openid-cla
python-openid-teams
redis
requests
six
# sqlalchemy minimum 0.8
sqlalchemy >= 0.8
# 1.4.0 is broken, 1.4.0-post-1 works but gives odd results on newer setuptools
# the latest version 1.5.0 is also known to work
straight.plugin
whitenoise
wtforms

# Required only for the `oidc` authentication backend
# flask-oidc

# Required only if `USE_FLASK_SESSION_EXT` is set to `True`
# flask-session

# Required only for the `fas` and `openid` authentication backends
# python-fedora
