# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
arrow
binaryornot
bleach
blinker
celery
chardet
docutils
enum34
flask
flask-wtf
flask-multistatic
kitchen
markdown
munch
Pillow
psutil
pygit2 >= 0.22.1
pygments
python-openid
python-openid-cla
python-openid-teams
redis
requests
six
sqlalchemy >= 0.8
# 1.4.0 is broken, 1.4.0-post-1 works but gives odd results on newer setuptools
# the latest version 1.5.0 is also known to work
straight.plugin
wtforms

# Needed only for local authentication and/or Pagure CI
# cryptography

# Required only for the `oidc` authentication backend
# flask-oidc

# Required only if `USE_FLASK_SESSION_EXT` is set to `True`
# flask-session

# Required only for the `fas` and `openid` authentication backends
# python-fedora

# Required only for the `local` authentication backend
# bcrypt

