# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
arrow
binaryornot < 0.4.3
bleach
blinker
celery
chardet
docutils
enum34
flask
flask-wtf
flask-multistatic
kitchen
markdown
munch
Pillow
psutil
pygit2 >= 0.20.1
pygments
python-openid
python-openid-cla
python-openid-teams
redis
requests < 2.16.0
six
sqlalchemy >= 0.8
straight.plugin >= 1.4.0-post-1
wtforms

# Needed only for local authentication and/or Pagure CI
cryptography

# Required only for the `fas` and `openid` authentication backends
python-fedora

# Required only for the `local` authentication backend
py-bcrypt

