beautifulsoup4 <= 4.12.3
black <= 24.4.2
eventlet <= 0.35.1
fedmsg <= 1.1.2
flake8 <= 6.0.0

# fedora-infra maintains its own flask-oidc fork: https://github.com/fedora-infra/flask-oidc
# previous upstream PR (https://github.com/puiterwijk/flask-oidc/pull/144) fixed in fork.
flask-oidc <= 2.1.1
itsdangerous >=2.1.2

mock <= 4.0.3
pagure-messages >= 0.0.1
pytest
pytest-cov
pytest-xdist

python-fedora == 1.1.1

# Seems that mock doesn't list this one
funcsigs <= 1.0.2
