[Unit]
Description=Pagure SMTP filter (Milter) Daemon (talk to postfix over a socket)
After=postfix.target
Documentation=https://github.com/pypingou/pagure

[Service]
ExecStart=/usr/bin/python /usr/share/pagure/comment_email_milter.py
Type=simple
User=postfix
Group=postfix
Restart=on-failure

[Install]
WantedBy=multi-user.target
