body {
    padding: 0;
    height: 100%;
    margin: 0;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

.message {
    color: green;
}

.errors {
    color: red;
}

.warnings {
    color: orange;
}

.nobutton {
    background:none!important;
    border:none;
    padding:0!important;
    color: #0066CC;
    text-decoration: none;
}

#header input {
    border-radius: 10px;
}

header#mainheader{
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
    padding: .5em;
    margin-bottom: .5em;
}

header h1,
header h2,
header p {
    margin:0;
}

header h1 span {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 0.7em;
    font-weight: normal;
}

#goto_date {
    display: block;
}

#goto_date input[type=text] {
    width: 42px;
}

#tzones {
    width: 152px;
}

section header,
section aside,
section nav {
    display: inline-block;
    vertical-align: middle;
}

#content section > header {
    margin-bottom: .5em;
    background: url(calendar.png) 0 50% no-repeat;
    padding-left: 40px;
    color: #666;
}

#content section > header p {
    font-style: italic;
}

#content {
    position: relative;
    margin: .5em;
    min-height: 450px;
}

#content #agenda, #content #meeting_list{
    padding-left: 210px;
}

#agenda, .my_meetings {
    margin-bottom: 2em;
}

#agenda table, .my_meetings table {
    border-collapse:collapse;
    min-width: 790px;
    width: 100%;
}

.event {
    display: block;
    padding:.1em .2em;
    background-color:rgba(175, 221, 233, .8);
    color: #333;
    text-decoration: none;
    border:1px solid #37abc8;
}

td > .event {
    height: 100%;
}


.first_event {
    border-bottom:0px;
}

td .first_event {
    border-bottom: solid 1px rgba(175, 221, 233, .8);
}

td .middle_event {
    border-top: solid 1px rgba(175, 221, 233, .8);
    border-bottom: solid 1px rgba(175, 221, 233, .8);
}

.last_event {
    border-top:0px;
}

td .last_event {
    border-top: solid 1px rgba(175, 221, 233, .8);
}

.my_meetings td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
}

#agenda td {
    min-width: 100px;
    height: 2em;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 0;
}

#agenda td.empty {
    background-color: transparent;
    border: none;
}

#agenda .time {
    border: none;
    padding-right: .2em;
    text-align: right;
    width: 7em;
}

#agenda .today {
    background-color: #FFF6D5;
    vertical-align: middle;
}

.my_meetings .date {
    border-left: solid 0px;
    width: 100px;
}

.my_meetings .time {
    width: 150px;
}

.my_meetings .calendar {
    width: 150px;
}

.my_meetings .buttons {
    width: 1%;
    white-space: nowrap;
    text-align: center;
    padding: .1em .2em;
}

.my_meetings img {
    width: 24px;
}

#agenda th {
    border: none;
    padding: .1em;
    color: #999;
}

#agenda th.today {
    color: black;
}

#mainmenu {
    width: 200px;
    margin-right: 0;
    position: absolute;
    top: 70px;
    left: 0;
}

#mainmenu li {
    margin-left: 0px;
}

#weeks {
    float:right;
}

/** Menu */
.ui-menu-item ul {
    margin-left: 2px;
}

.ui-menu-item {
    white-space: nowrap;
}


table.month {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: .5em;
}

table.month td {
    text-align: center;
    border: 1px solid #e6e6e6;
    color: #808080;
    font-weight: bold;
    padding: .1em;
    background-color: #fff;
}

table.month a{
    color: #808080;
    display: block;
    padding: .1em;
}

.busy_day {
    background-color: #3C6EB4;
    border-radius: 1em 1em 1em 0.3em;
    color: #FFFFFF !important;
    padding: 0px;
    margin: 0px;
}

.busy_day a{
    color: #FFFFFF !important;
    padding: .1em;
}

table.month .today a{
    color: #000;
}

table.month .current_week td {
    background-color: #ffcc69;
}

table.month td.noday {
    background-color: #f9f9f9;
}

table.month td.today{
    background-color: #FFF6D5;
    border-color: #000;
    border-width: 1px;
    /* ugly hack to work with table collapsed borders */
    border-style: double solid solid double;
    color: #000;
}

th.month {
    color: #666;
    padding-bottom: .4em;
}

th.month a {
    color: #4d4d4d;
    display: inline-block;
}

th.month a:hover {
    color: #fff;
}

th.month .ui-button-text {
    padding: 0 .5em;
}

.ui-menu a.ui-state-focus {
    border: 1px solid #DDDDDD;
}

.calendar_list {
    display: table;
    border-spacing: 1em;
}

.calendar_link {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    display: table-cell;
    /*margin: 1em auto;*/
    overflow: hidden;
    padding: 2em;
    width: 15em;
}

.calendar_link img, .calendar_link span {
    display: block;
}

.calendar_name {
    font-weight: bold;
    margin: .5em 0;
}

.calendar_row {
    display: table-row;
}

.calendar_row[a] {
    display: block;
}

#information {
    width: 500px;
    height: 200px;
}

.ui-autocomplete {
    width: 100px;
}

.limit_future td {
    border-top: thin solid;
    border-color: #31a90c;
}

.limit_past td {
    border-top: thin solid;
    border-color: red;
}
.today {
    background-color: #FFF6D5;
}
