body {
    padding: 0;
    margin: 0;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

textarea {
    border: 1px #ccc solid;
    background: rgba(255, 255, 255, 0.5);
}

td, th {
    padding: .1em .2em;
}

.message {
    color: green;
}

.errors, .new_commit {
    color: red;
}

.warnings {
    color: orange;
}

.new_commit {
    margin-left: -12px;
}

.nobutton {
    background:none!important;
    border:none;
    padding:0!important;
    color: #0066CC;
    text-decoration: none;
}

#header input {
    border-radius: 10px;
}

.right {
    float:right!important;
}

table.list thead th,
table.list thead th a,
.user_list a:hover,
.project_list > header,
[id=fork_button]:hover,
[id=settings_button]:hover,
[id=profile_button]:hover,
.fgradient{
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
}

div.horizontal-menu {
    background-color: #EDEDED;
    border-radius: 10px;
    height: 3em;
}

div.horizontal-menu ul {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
}

div.horizontal-menu li {
    display: inline-block;
    height: 100%;
}

div.horizontal-menu a,
#profile_button a {
    color: #4D4D4D;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: .61em .61em .9em;
}

div.horizontal-menu li.selected a, div.horizontal-menu li.hovered a {
    background: url("pink_arrow.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}

div.horizontal-menu li.selected a, div.horizontal-menu li.left-for-now a {
    color: #DB3279;
    margin-left: auto;
    margin-right: auto;
}

header h1,
header h2,
header p {
    margin:0;
}

header h1 span {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 0.7em;
    font-weight: normal;
}

#content {
    position: relative;
    margin: .5em;
}

.project_list > header {
    border-radius: 10px 10px 0 0;
    padding: .5em;
    border-bottom: 1px solid rgba(237, 237, 237, 0.4);
}

.project_list header h3, .project_list header h2 {
    font-size: 1em;
    margin:0;
}

.project_list > div {
    display: table;
    border-spacing: 1em;
}

.project_link {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    display: table-cell;
    overflow: hidden;
    padding: 2em;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding-left: 85px;
    width: 15em;
}

.project_link:visited {
    color: black;
}

.project_link:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    color: #0066CC;
}

.project_link span {
    display: block;
}

.project_name {
    font-weight: bold;
    margin: .5em 0;
}

.project_row {
    display: table-row;
}

.project_row[a] {
    display: block;
}

#information {
    width: 500px;
    height: 200px;
}

.ui-autocomplete {
    width: 100px;
}

.readme {
    border-style:solid;
    border-width:5px;
    border-color:#adadad;
    padding-left:1em;
}

.docs_content {
    border-style:solid;
    border-width:2px;
    border-color:#3979D3;
    padding-left:1em;
    min-height: 400px;
}

.inline {
    margin: 2em 0 1em;
}

.inline h2 {
    margin: 0;
}

.inline h2, .inline a, .inline li{
    display: inline-block;
}

#comment {
   min-width: 500px;
   min-height: 120px;
}

#issue_content {
    min-width: 500px;
    min-height: 120px;
}

#ssh_key {
    min-width: 500px;
    min-height: 120px;
}


.delete_icon {
  padding-left: 20px !important;
  background-image: url(delete.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.code_table {
    background: #f8f8f8;
    min-width: 100%;
}

.code_table tr td{
    padding: 0;
}

.code_table tr td pre{
    padding: 0;
    margin: 0;
}

.code_table tr .cell1{
    width: 20px;
}


.git_links {
    padding-top: 3em;
}

.prc {
    width: 13px;
}

.prc p {
    padding:0;
    margin:0;
}

.prc img {
    display: none;
    cursor: pointer;
}

.pr_comment {
    background: #fff;
}

.del_icon {
    display: inline;
}

/* Stealed this from flask-admin */
form.icon button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    line-height: normal;
    padding: 0;
    padding-left: 0.5em;
    text-decoration: none;
}

.icon_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    line-height: normal;
    padding: 0;
    padding-left: 0.5em;
    text-decoration: none;
}

.avatar {
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

.settings div {
    padding: 0em 0em 1em 0em;
}

.list_users form,
.list_groups form  {
    display: inline;
}

pre {
    font-size: 1.3em;
}

.tree_list li.folder {
    list-style-image: url(images/folder.png);
}

.tree_list li.file {
    list-style-image: url(images/file.png);
}

.tree_list .view_commit,
.tree_list .filehex
{
    float: right;
    text-align: right;
}

.tree_list li:nth-child(odd),
.commit_list li:nth-child(odd),
table.list tr:nth-child(odd) td
{
    background-color: #ededed;
}

.tree_list ul {
    padding-left: 25px;
}

.commit_list ul {
    padding-left: 0;
}

.commit_list li {
    list-style-type: none;
}

.commit_list li,
.tree_list li {
    padding:0 .5em;
}

.tree_list li:hover,
.commit_list li:hover,
table.list tr:hover td

{
    color: white;
    background-color: #0066cc;
}

.tree_list li:hover a,
.commit_list li:hover a,
.commit_list li:hover > a > span.commitid,
.tree_list li:hover > a > span.filehex,
table.list tr:hover td > a
{
    color:white;
}
.commit_list li > a:first-child,
.tree_list li > a:first-child,
table.list tbody td > a
{
    display: block;
}

.commit_list li > a > span.commitid,
.tree_list li > a > span.filehex
{
    color: #4d4d4d;
    display: inline-block;
    width: 5em;
}

.pr {
    float: right;
}

#issue_action {
    float: right;
}

table.list {
    width: 100%;
}

table.list th {
    padding: .5em;
}

table.list td {
    padding: .1em .2em;
}

table.list td:first-child {
    width: 2em;
}

table.list .open_date,
table.list .open_by,
table.list .assigned {
    width: 9em;
}

.noresult {
    text-align: center;
    font-weight: bold;
}

.issueid {
    color: #aaa;
}

.issue_comment, .add_comment, .project_list {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.issue_comment > div,
.issue_comment > form > div {
    padding: .2em .5em;
}
.issue_comment > p {
    padding: .5em;
}

.issue_comment p {
    margin: .5em 0 1em;
}

.issue_comment > header,
.issue_comment > form > header,
.file_content > header,
.commit_diff > header
{
    border-radius: 10px 10px 0 0;
    padding: .5em;
    border-bottom: 1px solid rgba(237, 237, 237, 0.4);

    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ededed 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ededed 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ededed 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ededed 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}

.issue_action {
    float: right;
    text-align: right;
}

.issue_action div {
    display: inline-block;
}

.highlight {
    overflow: auto;
}

.pr_actions form {
    display: inline-block;
}

.user_list li {
    list-style-type: none;
    display: inline-block;
    width: 25em;
    margin: 0 .5em;
}


.user_list a {
    display: inline-block;
    width: 100%;
    padding: .5em;
}

.header .buttons,
header .buttons {
    display: inline-block;
    float: right;
    list-style-type: none;
    text-align: right;
    margin: 0;
}

.header .buttons li,
header .buttons li {
    display: inline-block;
    padding-left: .5em;
}

.header .button,
header .button {
    display: inline-block;
    color: white;
    background: #0066cc;
    border-radius: 3px;
    padding: .2em .5em;
    border:none;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #0066cc, #34609f);
    background-image: -moz-linear-gradient(top, #0066cc, #34609f);
    background-image: -o-linear-gradient(top, #0066cc, #34609f);
    background-image: linear-gradient(to bottom, #0066cc, #34609f);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
}

.header .button:hover,
header .button:hover {
    background-image: linear-gradient(to bottom, #34609f, #0066cc);
}

.header a.button:visited,
.header a.button:hover,
header a.button:visited,
header a.button:hover {
    color: white;
}

.file_content,
.commit_diff {
    border: 1px solid rgba(237, 237, 237, 0.4);
    border-radius: 10px 10px 0 0;
}

.show_parts {
    float: right;
    margin-top: -3.6em;
}

[id=error] h2 {
    color: red;
}

a.user_settings {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: 20px;
    overflow: hidden;
    background: url(images/edit.png) top left no-repeat;
    vertical-align: middle;
}

[id=parent] {
    float: right;
}

header.repo {
    background: url(images/git.png) 0 50% no-repeat;
    padding-left: 40px;
}


header.repo.forked {
    background-image: url(images/forked.png);
}


header.repo.forked > p {
    display: inline-block;
}

#fork_button, #settings_button, #profile_button {
    border-radius: 10px;
}

#fork_button a,
#settings_button a,
#profile_button a {
    background-position: 8px 50%;
    background-repeat: no-repeat;
    margin-top: .2em;
    padding-left: 30px;
    padding-bottom: .61em;
}

#fork_button a {
    background-image: url(images/fork_button.png);
}

#settings_button a {
    background-image: url(images/settings_button.png);
}

#profile_button a {
    background-image: url(images/profile_button.png);
}

#fork_button:hover a,
#settings_button:hover a,
#profile_button:hover a {
    color: white;
}

#fork_button:hover a {
    background-image: url(images/fork_button_hover.png);
}

#settings_button:hover a {
    background-image: url(images/settings_button_hover.png);
}

#profile_button:hover a {
    background-image: url(images/profile_button_hover.png);
}

#profile_button {
    display: inline-block;
}

.header > h3,
.commit_diff > header h3 {
    display: inline-block;
    margin: .4em 0 0;
}

.commit_message_body {
    display: block;
    font-weight: normal;
    font-size: .9em;
}

.commit_diff {
    margin-top: 2em;
}

.addrem_bar {
    display: inline-block;
    width: 100px;
    padding: 0!important;
    text-align: left;
    background-color: #ffdddd;
}

.addrem_bar > span {
    display: block;
    background-color: #dbffdb;
}

ul.changes {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.header {
    padding: .5em 0;
}

.reply {
    cursor: pointer;
    padding-right: 1em;
}

.tag_form,
.tag_form input {
    display: inline-block;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
}
