.masthead{
  background-color:#ddd;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px 2px #ddd;
  z-index: 999;
  padding-top:2px;
  padding-bottom:2px;
}

.footer{
  box-shadow: 0 900px 0 900px #495057;
}

.footer a.notblue{
  opacity:0.7;
}

.enforce-text-break {
  word-wrap: break-word !important;
  word-break: break-all !important;
}
