[Unit]
Description=Pagure WebHook server (Allowing web-hook notifications)
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/libexec/pagure-webhook/pagure-webhook-server.py
Type=simple
User=git
Group=git
Restart=on-failure

[Install]
WantedBy=multi-user.target
