[Unit]
Description=Pagure EventSource server (Allowing live refresh of the pages supporting it)
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/libexec/pagure-ev/pagure_stream_server.py
Type=simple
User=git
Group=git
Restart=on-failure

[Install]
WantedBy=multi-user.target
