html
{
    font-size:14px;
}

.nav-tabs
{
    border-bottom:none;
}

.repo-header
{
    background:#f3f3f3;
    border-bottom:1px solid #DDD;
}

.notification-spacer
{
    background:#f3f3f3;
}

.repo-name
{

}

.code_table {
    background: #FDF6E3;
    min-width: 100%;
}

.code_table tr td{
    padding: 0;
}

.code_table tr td pre{
    padding: 0;
    margin: 0;
}

.code_table tr .cell1{
    width: 20px;
    background: #eee8d5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align:center;
}

.code_table tr .cell2{
    padding-left:15px;
}

.code_table tr .cell1 a::before {
    content: attr(data-line-number);
    color:#91a1a1!important;
    font-family: Hack;
    padding-left:3px;
    padding-right:3px;
}

.alert-info pre
{
    background-color:#CFE5F0;
}

.card-header > .breadcrumb
{
padding:0;
background:none;
margin-bottom:0;
display:inline-block;
}

.card-header > .breadcrumb .oi
{
font-size:0.8rem;
}

.file-button-bar
{
background:#ededed;
padding: 0.3rem;
}

#issue-title, .stretch-table-column
{
    min-width:99%;
}

.btn-group-sm.issues-tagbar > .btn-sm {
    padding: 0.2rem 0.55rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    line-height: 1.2;
}

#pagure-issues-list .td-open_date, .nowrap
{
white-space: nowrap;
}


#preview
{
    height: 16rem;
    background:#ddd;
    padding:1em;
    border:1px solid #aaa;
}


.issue-metadata-form
{
display:none;
}

.bodycontent
{
min-height:800px;
}

.oi-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.oi
{
    position: relative;
    top: 1px;
    font-size: 0.8em;
}

.pr-toplabel
{
    background: #eee;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    padding-right: 10px;
}

.selectize-control.pr-toplabel-select {
    display: inline;
}

.selectize-control.pr-toplabel-select .selectize-input {
    display: inline!important;
    padding: 4px 20px 4px 10px;
    border:0;
    background: #eee;
}

.selectize-control.pr-toplabel-select .selectize-input:after
{
right:6px!important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.projecticon .oi
{
font-size: 3.5rem;
line-height: 5rem;
padding-left: 0.5rem;
color: #bbb;
}

.projecticon-search .oi
{
font-size: 2.5rem;
line-height: 3rem;
color: #bbb;
}

.repo_desc
{
  height:2.5em;
  line-height:1;
  padding-left:65px;
}

.repo_name
{
  padding-top:4px;
  padding-left:65px;
}

.project_wrapper
{
border:1px solid #ddd;
position:relative;
}
.project_metadata
{

   bottom:0;
   background:#eee;
   width:100%;
  margin-top:2px;
}
/*@media (min-width:768px) {
    .container {
        max-width:55pc
    }
}*/

.nav-tabs .nav-link {
    padding: 0.5em 0.8em;
}
