{% extends "master.html" %}

{% block title %}{{ repo }} - {{ commitid }}{% endblock %}
{%block tag %}home{% endblock %}


{% block content %}

<h2>
  <a href="{{ url_for('view_repo', username=username, repo=repo)}}">
    {{ repo.split('.git')[0] }}
  </a>

  (<a href="{{ url_for('view_tree',
               username=username, repo=repo, identifier=commitid) }}"
    >tree</a>)
</h2>

<h3>Commit: {{ commitid }}</h3>

<table>
  <tr>
    <td>Author</td>
    <td>
      {{ commit.author.name }} {{ '<' + commit.author.email + '>' }}
      - {{ commit.commit_time }}
    </td>
  </tr>
  <tr>
    <td>Committer</td>
    <td>
      {{ commit.committer.name }} {{ '<' + commit.committer.email + '>' }}
      - {{ commit.commit_time }}
    </td>
  </tr>
  <tr>
    <td>Parent</td>
    <td>
      {% for parent in commit.parents %}
      <a href="{{ url_for('view_commit',
                  username=username, repo=repo, commitid=parent.oid.hex) }}">
        {{ parent.oid.hex }}
      </a> <br />
      {% endfor %}
    </td>
  </tr>
</table>

<section class="commit_message">
  <span class="commit_message_head">
    {{ commit.message.split('\n')[0] }}
  </span>
  <span class="commit_message_body">
    {{ commit.message.split('\n')[1] }}
  </span>
</section>

<section class="commit_diff">
  <h3>Diff:</h3>
  {% autoescape false %}
  {{ html_diff }}
  {% endautoescape %}
</section>

{% endblock %}
