{% extends "master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}


{% block content %}

<h2>
  <a href="{{ url_for('view_repo', repo=repo)}}">
    {{ repo.split('.git')[0] }}
  </a>
  : <a href="{{ url_for('view_tree', repo=repo, identifier=branchname) }}">
  {{ branchname }}</a>/{%
  for file in filename.split('/') %}
    {% if loop.first %}
    {% set path = file %}
    {% else %}
    {% set path = path + '/' + file %}
    {% endif %}
    {% if loop.index != loop.length %}
<a href="{{ url_for('view_file', repo=repo, identifier=branchname,
        filename=path)}}"
      >{{ file }}</a>/{%
    else %}
{{ file }}
    {% endif %}
  {% endfor %}
</h2>

<h3>Tree</h3>
<section class="repos_list">
  {% if output_type=='file' %}
  {% autoescape false %}
  {{ content }}
  {% endautoescape %}
  {% else %}
  <ul>
    {% for entry in content %}
    <li>
      {% if entry.filemode == 16384 %}
      [ ]
      {% endif %}
      <a href="{{ url_for('view_file',
                repo=repo,
                identifier=branchname,
                filename=filename + '/' + entry.name if filename else entry.name) }}">
        {{ entry.name }}
      </a>
      {{ entry.hex }}
      {{ entry.id }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

{% endblock %}
