{% extends "repo_master.html" %}

{% block title %}Tree - {{ repo.name }}{% endblock %}
{%block tag %}home{% endblock %}


{% block repo %}

<h2>
    <a href="{{ url_for('view_tree', username=username,
                repo=repo.name, identifier=branchname)
    }}">{{ branchname }}</a>/{%
  for file in filename.split('/') %}
    {% if loop.first %}
    {% set path = file %}
    {% else %}
    {% set path = path + '/' + file %}
    {% endif %}
    {% if loop.index != loop.length %}<a
    href="{{ url_for('view_file', username=username,
            repo=repo.name, identifier=branchname,
            filename=path)}}"
      >{{ file }}</a>/{% else %}{{ file }}{% endif %}
  {% endfor %}
</h2>

{% if content %}
  {% if output_type=='file' %}
    {% autoescape false %}
      {{ content | format_loc}}
    {% endautoescape %}
  {% else %}
  <section class="tree_list">
  <h3>Tree</h3>
  <ul>
    {% for entry in content %}
    <li class="{% if entry.filemode == 16384 %}folder{% else %}file{% endif %}">
      <a href="{{ url_for('view_file', username=username,
                repo=repo.name, identifier=branchname,
                filename=filename + '/' + entry.name if filename else entry.name) }}">
        {{ entry.name }}
        </a>
        <span class="filehex">{{ entry.hex|short }}</span>
    </li>
    {% endfor %}
  </ul>
  </section>
  {% endif %}
{% else %}
No content found in this repository
{% endif %}

{% endblock %}
