{% extends "repo_master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}


{% block repo %}

<h2>Forks</h2>

<section class="forks_list">
  {% if repo.forks %}
  <ul>
    {% for fork in repo.forks %}
    <li>
      <a href="{{ url_for('view_fork_repo', username=repo.user,
                repo=repo.name) }}"> {{ fork.user }}/{{ fork.name }} </a>
      <span> Created on {{ fork.date_created.strftime('%Y-%m-%d %H:%M') }}</span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    This project has not been forked.
  </p>
  {% endif %}
</section>

{% endblock %}
