{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_list %}

{% block title %}Issue #{{ issue.id}} - {{ repo.name }}{% endblock %}
{%block tag %}home{% endblock %}


{% block repo %}

<h2>Issue #{{ issue.id }}</h2>

<section class="issue_action">
  {% if username %}
  <form action="{{ url_for('view_fork_issue', username=username,
                   repo=repo.name, issueid=issue.id) }}" method="post">
  {% else %}
  <form action="{{ url_for('view_issue',
                   repo=repo.name, issueid=issue.id) }}" method="post">
  {% endif %}
  <ul>
    <li>
      {% if '/fork/' in request.url %}
      <a href="{{ url_for('fork_edit_issue', username=username,
                  repo=repo.name, issueid=issue.id) }}">
      {% else %}
      <a href="{{ url_for('edit_issue', repo=repo.name, issueid=issue.id) }}">
      {% endif %}
        Edit</a>
    </li>
    {{ render_field_in_list(form.status) }}
    <li>
      <input type="submit" class="submit positive button" value="Update">

    </li>
  </ul>
  {{ form.csrf_token }}
  </form>
</section>

<section class="issue_info">
  <h3>
    {{ issue.title }}
  </h3>

  <span class="issue_body">
    {% autoescape false %}
      {{ issue.content | rst2html }}
    {% endautoescape %}
  </span>
</section>

{% endblock %}
