{% extends "repo_master.html" %}
{% from "_formhelper.html" import render_field_in_row %}

{% block title %}{% if not type or type == 'new'
    %}New issue{% elif type and type == 'edit'
    %}Edit issue #{{ issueid }} {% endif %} - {{ repo.name }}{% endblock %}
{%block tag %}new_project{% endblock %}


{% block repo %}

{% if not type or type == 'new' %}
<h2>New issue</h2>
{% elif type and type == 'edit' %}
<h2>Edit issue #{{ issueid }}</h2>
{% endif %}


<section class="new_issue">
  {% if not type or type == 'new' %}
    <form action="{{ url_for('.new_issue',
                     username=username, repo=repo.name) }}" method="post">

  {% elif type and type == 'edit' %}
      <form action="{{ url_for('.edit_issue', username=username,
                       repo=repo.name, issueid=issueid) }}" method="post">
  {% endif %}

    <table>
      {{ render_field_in_row(form.title) }}
      {{ render_field_in_row(form.status) }}
      {{ render_field_in_row(form.private) }}
    </table>
    <div id="tabs">
      <ul>
        <li><a href="#new_comment">Comment</a></li>
        <li><a href="#preview">Preview</a></li>
      </ul>
      <div id="new_comment">
        <div>
          <textarea id="issue_content" name="issue_content" placeholder="Report your issue/request here"></textarea>
        </div>
      </div>
      <div id="preview">
      </div>
    </div>
    <p>
      (supports the <a href="http://daringfireball.net/projects/markdown/syntax"
                      target="_blank">Markdown syntax</a>)
    </p>

    <p class="buttons indent">
      {% if not type or type == 'new' %}
      <input type="submit" class="submit positive button" value="Create">
      {% elif type and type == 'edit' %}
      <input type="submit" class="submit positive button" value="Edit">
      {% endif %}
      <input type="button" value="Cancel" class="button" onclick="history.back();">
      {{ form.csrf_token }}
    </p>
  </form>
</section>

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
$(function() {
  $( "#tabs" ).tabs();

  $( "#tabs" ).on('tabsactivate',
    function(event, ui) {
      if (ui.newPanel.selector == '#preview') {
        var _text = $( "#issue_content" ).val();
        var _url = "{{ url_for('markdown_preview') }}";
          $.ajax({
              url: _url ,
              type: 'POST',
              data: {
                content: _text,
                csrf_token: "{{ form.csrf_token.current_token }}",
              },
              dataType: 'html',
              success: function(res) {
                  $( "#preview" ).html(res);
              },
              error: function() {
                  alert('Unable to generate preview!');
              }
          });
          return false;
      }
    }
  );
});
</script>
{% endblock %}
