{% extends "master.html" %}

{% block title %}{{ repo.name }}{% endblock %}
{%block tag %}home{% endblock %}


{% block content %}
<h2>
  <a href="{{ url_for('view_repo', username=username, repo=repo.name)}}">
    {{ repo.fullname }}
  </a>
  {% if branchname %} ({{ branchname }}) {% endif %}
</h2>

{% if repo.is_fork %}
<section id="parent">
  Forked from
  <a href="{{ url_for('view_repo', repo=repo.parent.name)}}">
    {{ repo.parent.name }}</a>
</section>
{% endif %}

  <div class="horizontal-menu">
    <ul>
      <li {% if select == 'overview' %}class="selected" {% endif %}>
        <a href="{{ url_for('view_repo', username=username,
                    repo=repo.name) }}">Overview</a>
      </li>

      {% if repo.project_docs %}
      <li {% if select == 'docs' %}class="selected" {% endif %}>
        <a href="{{ url_for('view_docs', username=username,
                    repo=repo.name) }}">Docs</a>
      </li>
      {% endif %}

      <li {% if select == 'logs' %}class="selected" {% endif %}>
        <a href="{{ url_for('view_log', username=username,
                   repo=repo.name) }}">Logs</a>
      </li>

      <li {% if select == 'tree' %}class="selected" {% endif %}>
        <a href="{{ url_for('view_tree', username=username,
                   repo=repo.name) }}">Tree</a>
      </li>

      {% if repo.issue_tracker %}
      <li {% if select == 'issues' %}class="selected" {% endif %}>
          <a href="{{ url_for('view_issues', username=username,
                     repo=repo.name) }}">Issues</a>
      </li>
      {% endif %}

      <li {% if select == 'requests' %}class="selected" {% endif %}>
        <a href="{{ url_for('request_pulls', username=username,
                   repo=repo.name) }}">
          Pull-requests
        </a>
      </li>

      {% if repo.forks %}
      <li {% if select == 'forks' %}class="selected" {% endif %}>
        <a href="{{ url_for('view_forks', username=username,
                   repo=repo.name) }}">
        Forks ({{ repo.forks |length }})</a>
      </li>
      {% endif %}

    </ul>
    <ul class="right">
      <li {% if select == '' %}class="selected" {% endif %}>
        <a href="{{ url_for(
            'fork_project', repo=repo.name, username=username) }}">
        Fork</a>
      </li>
      {% if g.fas_user and g.fas_user.username == repo.user %}
      <li {% if select == 'settings' %}class="selected" {% endif %}>
        <a href="{{ url_for(
            'view_settings', repo=repo.name, username=username) }}">
          Settings</a>
      </li>
      {% endif %}
    </ul>
  </div>

{% block repo %}
{% endblock %}

{% endblock %}
