{% extends "master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}


{% block content %}

<h2>{{ username }}</h2>

{% if total_page %}
<table>
    <tr>
        <td>
        {% if page > 1%}
            <a href="{{ url_for('index') }}?page={{page - 1}}">
                &lt; Previous
            </a>
        {% else %}
            &lt; Previous
        {% endif %}
        </td>
        <td>{{ page }} / {{ total_page }}</td>
        <td>
            {% if page < total_page %}
            <a href="{{ url_for('index') }}?page={{page + 1}}">
                Next &gt;
            </a>
            {% else %}
            Next >
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

<section class="repos_list">
  <ul>
    {% for repo in repos %}
    <li>
      <a href="{{ url_for('view_repo', user=username, repo=repo)}}">
        {{ repo.split('.git')[0] }}
      </a>
      <span class="commit_date">
        {{ repos_obj[loop.index - 1] | lastcommit_date}}
      </span>
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
