{# additional classes for the top navbar #}
{% set masthead_class = "navbar-dark bg-dark p-0" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure" %}


{% macro head_imports() %}
<link rel="shortcut icon" type="image/vnd.microsoft.icon"
href="{{ url_for('theme.static', filename='favicon.ico')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css')}}" />
<link href="{{ url_for('theme.static', filename='theme.css') }}" rel="stylesheet" type="text/css" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}"></script>
{% endmacro %}

{% macro browseheader_message(select) %}
    {# 
        message that shows at the top of the browse pages:
        'select' is the browse page. It can be either: 'projects',
        'users', or 'groups'. 
    #}
    {% if select == 'projects' %}
    <div class="row justify-content-around">
    <div class="col-md-8">
        <div class="jumbotron bg-transparent m-0 py-4 text-center">
            <h1 class="display-5">Welcome to Pagure</h1>
            <p class="lead">Pagure is an Open Source software code hosting system.</p>
        </div>
    </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro footer() %}
    <div class="footer py-3 bg-light border-top text-center">
        <div class="container">
            <p class="text-muted credit">
         Powered by
          <a href="https://pagure.io/pagure">Pagure</a>
          {{ g.version }}
            </p>
            <p><a href="{{ url_for('ui_ns.ssh_hostkey') }}">SSH Hostkey/Fingerprint</a> | <a href="https://docs.pagure.org/pagure/usage/index.html">Documentation</a></p>
        </div>
    </div>
{% endmacro %}