{# additional classes for the top navbar #}
{% set masthead_class = "navbar-dark bg-dark p-0" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure" %}


{% macro head_imports() %}
<link rel="shortcut icon" type="image/vnd.microsoft.icon"
href="{{ url_for('theme.static', filename='favicon.ico')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css')}}" />
<link href="{{ url_for('theme.static', filename='theme.css') }}" rel="stylesheet" type="text/css" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}"></script>
{% endmacro %}

{% macro footer() %}
    <div class="footer py-3 bg-light border-top text-center">
        <div class="container">
            <p class="text-muted credit">
         Powered by
          <a href="https://pagure.io/pagure">Pagure</a>
          {{ g.version }}
            </p>
            <p><a href="{{ url_for('ui_ns.ssh_hostkey') }}">SSH Hostkey/Fingerprint</a> | <a href="https://docs.pagure.org/pagure/usage/index.html">Documentation</a></p>
        </div>
    </div>
{% endmacro %}