{# additional classes for the top navbar #}
{% set masthead_class = "navbar-dark bg-dark" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure for openSUSE" %}

{% macro head_imports() %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('theme.static', filename='favicon.ico')}}?version={{ g.version}}"/>
    <link href="{{ url_for('theme.static', filename='openSUSE-theme-chameleon-73f164617634541d2391fbe100a594b503a8045d/chameleon.css')}}?version={{ g.version}}"
        type="text/css" rel="stylesheet" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}?version={{ g.version}}"></script>
{% endmacro %}

{% macro browseheader_message(select) %}
    {% if select == 'projects' %}
    <div class="row justify-content-around">
    <div class="col-md-8">
        <div class="jumbotron bg-transparent m-0 py-4 text-center">
            <h1 class="display-5">Welcome to Pagure</h1>
            <p class="lead">Pagure is an Open Source software code hosting system.</p>
        </div>
    </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro footer() %}
    <div class="footer bg-light py-3">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center text-muted">
                <div>Powered by <a href="https://pagure.io/pagure">Pagure</a> {{ g.version }}</div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-muted">
                <div>
                    <a href="https://docs.pagure.org/pagure/usage/index.html">Documentation</a> &bull;
                    <a href="/about">About this Instance</a> &bull;
                    <a href="{{ url_for('ui_ns.ssh_hostkey') }}">SSH Hostkey/Fingerprint</a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-muted credit">
                <div>&copy; 2014-2018 Red Hat, Inc. and others.</div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro about_page() %}
    <div class="container mt-5">
        <h1>About</h1>
        <p>This is an instance of Pagure, a git forge.</p>
        <p>If you experience a bug or security concern, please <a href="https://pagure.io/pagure/issues">submit an issue</a>.</p>
        <p>You may contact an administrator by emailing: <a href="mailto:{{ config['ADMIN_EMAIL'] }}">{{ config['ADMIN_EMAIL'] }}</a>.</p>
        <p><a href="https://lists.pagure.io/admin/lists/pagure-announce.lists.pagure.io/">Subscribe to announcements</a> about Pagure.</p>
    </div>
{% endmacro %}
