{# additional classes for the top navbar #}
{% set masthead_class = "navbar-dark bg-dark" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure for openSUSE" %}

{% macro head_imports() %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('theme.static', filename='favicon.ico')}}"/>
    <link href="{{ url_for('theme.static', filename='openSUSE-theme-chameleon-73f164617634541d2391fbe100a594b503a8045d/chameleon.css')}}"
        type="text/css" rel="stylesheet" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}"></script>
{% endmacro %}

{% macro browseheader_message(select) %}
    {% if select == 'projects' %}
    <div class="row justify-content-around">
    <div class="col-md-8">
        <div class="jumbotron bg-transparent m-0 py-4 text-center">
            <h1 class="display-5">Welcome to Pagure</h1>
            <p class="lead">Pagure is an Open Source software code hosting system.</p>
        </div>
    </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro footer() %}
    <div class="footer bg-light py-3">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center text-muted">
                <div>Powered by <a href="https://pagure.io/pagure">Pagure</a> {{ g.version }}</div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-muted">
                <div>
                    <a href="https://docs.pagure.org/pagure/usage/index.html">Documentation</a> &bull;
                    <a href="{{ url_for('ui_ns.ssh_hostkey') }}">SSH Hostkey/Fingerprint</a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-muted credit">
                <div>&copy; 2014-2018 Red Hat, Inc. and others.</div>
            </div>
        </div>
    </div>
{% endmacro %}
