[Unit]
Description=Pagure WebHook server (Allowing web-hook notifications)
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Environment="PAGURE_CONFIG=/home/vagrant/pagure.cfg"
ExecStart=/home/vagrant/.virtualenvs/python3-pagure/bin/celery worker -A pagure.lib.tasks --loglevel=info -Q pagure_webhook
Type=simple

[Install]
WantedBy=default.target
