[Unit]
Description=Runs the Pagure documentation server
After=network.target

[Service]
Environment="PAGURE_CONFIG=/home/vagrant/pagure.cfg"
ExecStart=/home/vagrant/.virtualenvs/python3-pagure/bin/python \
          /home/vagrant/devel/rundocserver.py --host 0.0.0.0
Type=simple

[Install]
WantedBy=multi-user.target
