[Unit]
Description=Runs the Pagure documentation server
After=network.target

[Service]
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
ExecStart=python3 /srv/pagure/rundocserver.py --host 0.0.0.0
Type=simple
User=git
Group=git

[Install]
WantedBy=multi-user.target
