[Unit]
Description=Pagure worker for managing the authorized_keys file
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=celery -A pagure.lib.tasks worker --loglevel=info -c 1 -Q authorized_keys_queue
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
Type=simple
Restart=on-failure
User=git
Group=git

[Install]
WantedBy=default.target
