[Unit]
Description=Pagure WebHook server (Allowing web-hook notifications)
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Environment="PAGURE_CONFIG=/home/vagrant/pagure.cfg"
ExecStart=/home/vagrant/.virtualenvs/python2-pagure/bin/python \
          /home/vagrant/devel/pagure-webhook/pagure-webhook-server.py
Type=simple

[Install]
WantedBy=multi-user.target
