[Unit]
Description=Pagure Continuous Integration service
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
ExecStart=celery -A pagure.lib.tasks worker --loglevel=INFO -Q pagure_ci
Type=simple
User=git
Group=git

[Install]
WantedBy=multi-user.target
