[Unit]
Description=Pagure Continuous Integration service
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Environment="PAGURE_CONFIG=/home/vagrant/pagure.cfg"
ExecStart=/home/vagrant/.virtualenvs/python3-pagure/bin/python \
          /home/vagrant/devel/pagure-ci/pagure_ci_server.py
Type=simple

[Install]
WantedBy=multi-user.target
