[Unit]
Description=The Pagure web service
After=network.target

[Service]
ExecStart=/home/vagrant/.virtualenvs/python2-pagure/bin/python %h/devel/runserver.py -c %h/pagure.cfg --host 0.0.0.0
Type=simple

[Install]
WantedBy=multi-user.target
