{# additional classes for the top navbar #}
{% set masthead_class = "navbar-light masthead p-0" %}

{# site title that shows in the head html element at the end #}
{% set site_title = "Pagure.io" %}

{% macro head_imports() %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ url_for('theme.static', filename='favicon.ico')}}?version={{ g.version}}"/>
    <link href="{{ url_for('theme.static', filename='fedora-bootstrap-1.3.0/fedora-bootstrap.min.css')}}?version={{ g.version}}"
        type="text/css" rel="stylesheet" />
    <link href="{{ url_for('theme.static', filename='fonts/fonts.css') }}?version={{ g.version}}"
        rel="stylesheet" type="text/css" />
    <link href="{{ url_for('theme.static', filename='fonts/hack_fonts/css/hack-extended.min.css') }}?version={{ g.version}}"
        type="text/css" rel="stylesheet" />
    <link href="{{ url_for('theme.static', filename='theme.css')}}?version={{ g.version}}"
        type="text/css" rel="stylesheet" />
{% endmacro %}

{% macro js_imports() %}
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.bundle.min.js')}}?version={{ g.version}}"></script>
{% endmacro %}

{% macro browseheader_message(select) %}
    {% if select == 'projects' %}
    <div class="row justify-content-around">
    <div class="col-md-8">
        <div class="jumbotron bg-transparent m-0 py-4 text-center">
            <h1 class="display-5">Welcome to Fedora Pagure</h1>
            <p class="lead">Pagure is an Open Source software code hosting system.</p>
        </div>
    </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro sitewide_message() %}
{% if config['APP_URL'] == 'https://stg.pagure.io/' %}
<div class="alert alert-info mb-0">
    <div class="container text-center">
        Welcome to the staging environment for <a href="https://pagure.io">pagure.io</a>.
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro footer() %}
    <div class="footer pt-4 text-white">
        <div class="container">
            <div class="d-flex align-items-center">
                <div>
                    <div>Powered by <a href="https://pagure.io/pagure" class="notblue">Pagure</a> {{ g.version }}</div>
                    <div>
                        <a href="https://docs.pagure.org/pagure/usage/index.html" class="notblue">Documentation</a> &bull;
                        <a href="https://pagure.io/pagure/new_issue" class="notblue">File an Issue</a> &bull;
                        <a href="/about">About</a> &bull;
                        <a href="{{ url_for('ui_ns.ssh_hostkey') }}" class="notblue">SSH Hostkey/Fingerprint</a>
                    </div>
                </div>
                <div class="ml-auto text-right">
                    <div>&copy; 2014-2019 Red Hat, Inc. and others.</div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro about_page() %}
  <div class="container mt-5">
    <h1>About</h1>
    <p>Welcome to this <a href="https://pagure.io/pagure">pagure</a> instance.</p>
    <p>
      For any issue, wish or security concern, feel free to
      <a href="https://pagure.io/pagure/issues">open a ticket</a> (please
      ensure the ticket is private if your concern is security-related).
    </p>
    <p>
      You may contact an administrator by emailing:
      <a href="mailto:{{ config['ADMIN_EMAIL'] }}">
        {{ config['ADMIN_EMAIL'] }}
      </a>.
    </p>
    <p>Learn more or keep in touch about pagure via our mailing lists:</p>
    <ul>
      <li>
        <a href="https://lists.pagure.io/admin/lists/pagure-announce.lists.pagure.io/">pagure-annouce</a>
      </li>
      <li>
        <a href="https://lists.pagure.io/admin/lists/pagure-devel.lists.pagure.io/">pagure-devel</a>
      </li>
    </ul>
    <p>
      <a href="https://pagure.io/pagure">pagure</a> is a free software licensed
      under the <a href="https://www.gnu.org/licenses/gpl-2.0.txt">
        GNU General Public License (GPL) v2
      </a> or any later versions.
    </p>
    <p>
      This program is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
      General Public License for details.
    </p>
  </div>
{% endmacro %}
