# This is a systemd's service file for the mirroring service, if you change
# the default value of the CI_CELERY_QUEUE configuration key, do not
# forget to edit it in the ExecStart line below

[Unit]
Description=Pagure service mirroring projects outside of pagure that asked for it
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/bin/celery worker -A pagure.lib.tasks_mirror --loglevel=info -Q pagure_mirror
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
Type=simple
User=mirror
Group=mirror
Restart=on-failure

[Install]
WantedBy=multi-user.target
