# This is a systemd's service file for the logcom service, if you change
# the default value of the LOGCOM_CELERY_QUEUE configuration key, do not
# forget to edit it in the ExecStart line below

[Unit]
Description=Pagure service logging commits into the database
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/bin/celery worker -A pagure.lib.tasks_services --loglevel=info -Q pagure_logcom
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
Type=simple
User=git
Group=git
Restart=on-failure

[Install]
WantedBy=multi-user.target
