[Unit]
Description=Pagure worker for backend git interaction
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/bin/celery -A pagure.lib.tasks worker --loglevel=INFO -c 1 -Q gitolite_queue
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
Type=simple
User=git
Group=git
Restart=on-failure

[Install]
WantedBy=multi-user.target
