# This is an example systemd's service file that can be used when using
# multiple queues to split the tasks based on their priorities.
# You'll need to adjust the <queue_name> in the ExectStart line with the
# name of the queue as you set it in the configuration file under the keys
# FAST_CELERY_QUEUE, MEDIUM_CELERY_QUEUE or SLOW_CELERY_QUEUE

[Unit]
Description=Pagure worker
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
ExecStart=/usr/bin/celery -A pagure.lib.tasks worker --loglevel=INFO -Q <queue_name>
Environment="PAGURE_CONFIG=/etc/pagure/pagure.cfg"
Type=simple
User=git
Group=git
Restart=on-failure

[Install]
WantedBy=multi-user.target
