
### Secret key for the Flask application
SECRET_KEY='<The web application secret key>'

### url to the database server:
#DB_URL=mysql://user:pass@host/db_name
#DB_URL=postgres://user:pass@host/db_name
DB_URL = 'sqlite:////var/tmp/progit_dev.sqlite'

### the number of items (packages, packagers..) to display on the search
### pages
ITEMS_PER_PAGE = 50

### The FAS group in which the admin of progit are
ADMIN_GROUP = ['sysadmin-main', 'sysadmin-cvs']

### The email address to which the flask.log will send the errors (tracebacks)
EMAIL_ERROR = 'pingou@pingoured.fr'

### The URL at which the project is available.
APP_URL = 'https://fedorahosted.org/progit/'

### The URL to use to clone git repositories.
GIT_URL = 'git@progit.fedorahosted.org'

### Folder containing to the git repos
GIT_FOLDER = os.path.join(
    os.path.abspath(os.path.dirname(__file__)),
    '..',
    'repos'
)

### Folder containing the forks repos
FORK_FOLDER = os.path.join(
    os.path.abspath(os.path.dirname(__file__)),
    '..',
    'forks'
)

### Folder containing the docs repos
DOCS_FOLDER = os.path.join(
    os.path.abspath(os.path.dirname(__file__)),
    '..',
    'docs'
)

### Configuration file for gitolite
GITOLITE_CONFIG = os.path.join(
    os.path.abspath(os.path.dirname(__file__)),
    '..',
    'gitolite.conf'
)
